{
  "openapi": "3.1.0",
  "info": {
    "title": "Shipeasy Admin API",
    "version": "1.0.0",
    "description": "REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.\n\nMint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.",
    "contact": {
      "name": "Shipeasy",
      "url": "https://shipeasy.ai"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://shipeasy.ai",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local Next.js dev server"
    }
  ],
  "tags": [
    {
      "name": "Gates",
      "description": "Feature gates: boolean flags evaluated at runtime against project rules + a percentage rollout.\n\n**Identity.** Each gate is keyed by a stable `name` (a-z, 0-9, `_`/`-`, max 64 chars) which is what SDKs pass to `Shipeasy.checkGate(user, '<name>')`. The `name` is immutable — rename means delete + recreate.\n\n**Evaluation model.** A gate returns `true` when (a) `enabled` is true, and (b) the caller satisfies the gate's rules. There are two evaluation shapes:\n- **Flat** — `rules` (AND-combined predicates) gate the caller, then `rollout_pct` (basis points, 0–10000) hashes them into a bucket. Used for simple `is in X% rollout` gates.\n- **Gatekeeper stack** — an ordered array of `condition` and `rollout` sub-gates, evaluated top-to-bottom; first match wins. Used to express `internal-only ∪ 1% beta ∪ 50% public` in one gate. When `stack` is present it takes precedence over the flat fields.\n\n**Rules.** Each rule is `{ attr, op, value }`. Supported ops: `eq`, `neq`, `in`, `not_in`, `gt`, `gte`, `lt`, `lte`, `contains`, `regex`. Attribute names match the keys on the SDK evaluation context (e.g. `country`, `plan`, `email`).\n\n**Rollout basis points.** `rollout_pct` is in **basis points**, not percent. `0` = 0%, `100` = 1%, `5000` = 50%, `10000` = 100%. This allows sub-1% precision (e.g. `7` = 0.07%).\n\n**Lifecycle.** Create dark (`rollout_pct: 0`) → attach rules → ramp via PATCH → flip kill-switch via `disable`/`enable` → delete once retired. Deletion is blocked while a running experiment references the gate as a targeting gate."
    },
    {
      "name": "Experiments",
      "description": "A/B/n experiments: randomised group assignment plus the analysis pipeline (t-test, sequential testing, SRM detection) on top of a universe.\n\n**Identity.** Stable `name` (a-z, 0-9, `_`/`-`, max 64 chars). Immutable after create.\n\n**Lifecycle.** `draft → running → stopped → archived`. Transition via `POST /{id}/status`. Restarting an archived experiment is not allowed.\n\n**Allocation.** `allocation_pct` (basis points, 0–10000) is the share of the targeted audience enrolled; `groups[].weight` (must sum to 10000) splits the enrolled audience. `targeting_gate` narrows the eligible audience before allocation.\n\n**Immutable while running.** `allocation_pct`, `groups`, `salt`, `universe`, `params` cannot be edited on a running experiment — stop it first.\n\n**Metrics.** Attach via `POST /{id}/metrics`. Each metric has a role: `goal` drives the decision, `guardrail` blocks ship on regression, `secondary` is informational.\n\n**Analysis.** Daily cron writes results to D1. Read via `GET /{id}/results` (latest per metric/group/day) or `GET /{id}/timeseries` (full history). `POST /{id}/reanalyze` requeues the analysis pass."
    },
    {
      "name": "Configs",
      "description": "Dynamic configs: JSON-Schema-validated structured values delivered to SDKs and editable per environment with a draft/publish workflow.\n\n**Identity.** Each config is keyed by `name` in `folder.name` form (e.g. `pricing.tiers`). Immutable after create.\n\n**Schema-first.** Every config carries a JSON Schema (draft 2020-12, top-level `type: 'object'`). Every published value is validated against it.\n\n**Drafts → publish.** Per-env edits go through `PUT /{id}/drafts` (stages a value) then `POST /{id}/publish` (promotes to a new version). The flat `PATCH /{id}` republishes on **every** env in one shot — bypassing drafts.\n\n**Versioning.** Each publish bumps the per-env `version` monotonically. SDKs deliver the latest published version for each env."
    },
    {
      "name": "Killswitches",
      "description": "Killswitches: per-env boolean overrides for kill-style operational toggles. Optimised for incident response — no rules, no rollout, just a flat boolean (plus optional per-key overrides) versioned per environment.\n\n**Identity.** Each killswitch is keyed by `name` in `folder.name` form (e.g. `payments.checkout`). Immutable after create.\n\n**Per-env values.** Every killswitch stores one version stream per env (`dev`, `stage`, `prod`). A `PATCH` with `value`/`switches` applies to **every** env in one shot (publishes a new version per env). To touch a single env, use `PUT /{id}/switch` and friends.\n\n**Switches map.** Optional `switches: { key: bool }` overrides the flat `value` for specific named call sites — useful for region/feature-scoped kills.\n\n**Versioning.** Each publish (create, update, set-switch, unset-switch) bumps the per-env `version` monotonically. SDKs deliver the latest published version."
    },
    {
      "name": "Universes",
      "description": "Universes: the shared bucketing space all experiments draw from.\n\n**Identity.** Each universe is keyed by a stable `name` (a-z, 0-9, `_`/`-`, max 64 chars). Experiments reference it via `universe: '<name>'`. The name is immutable.\n\n**Unit of randomisation.** `unit_type` selects the attribute hashed into a 0–9999 bucket — default `user_id` for per-user randomisation, `account_id` to keep a whole account in the same group.\n\n**Holdout.** `holdout_range` is an inclusive `[lo, hi]` bucket range (0–9999) reserved for measurement — callers hashed into the holdout are excluded from every experiment in the universe. Pro plan or higher.\n\n**Deletion.** Blocked while any non-archived experiment references the universe — archive those first."
    }
  ],
  "paths": {
    "/api/admin/gates": {
      "get": {
        "operationId": "listGates",
        "summary": "List feature gates",
        "description": "Returns a single page of gates ordered by `updated_at desc, id desc`. Use the `cursor` query parameter to paginate.\n\n**Use case:** Snapshot every gate in the project — for example to render an admin overview or to drive a CI check that asserts no gate is left at 100% in staging.",
        "tags": ["Gates"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List feature gates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGatesResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc",
                      "name": "checkout_v2",
                      "enabled": 1,
                      "rolloutPct": 5000,
                      "rules": [
                        {
                          "attr": "country",
                          "op": "in",
                          "value": ["US", "CA", "GB"]
                        },
                        {
                          "attr": "plan",
                          "op": "neq",
                          "value": "free"
                        }
                      ],
                      "salt": "9c1f4f1f2c0c4a5fa1c2b6d3e7c8e3a1",
                      "title": "Checkout v2",
                      "description": "New checkout flow. Pro users in US/CA/GB only.",
                      "folder": "checkout",
                      "groupName": "growth",
                      "ownerEmail": "ana@example.com",
                      "stack": null,
                      "updatedAt": "2026-05-09T16:01:22.000Z"
                    }
                  ],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "post": {
        "operationId": "createGate",
        "summary": "Create a feature gate",
        "description": "Creates a new gate. Default `enabled: true` at the supplied `rollout_pct` (`0` = fully dark).\n\nOnly `name` is required. Request fields use snake_case (`owner_email`); the GET response returns camelCase (`ownerEmail`, `groupName`).\n\nReturns `409` if `name` already exists in the project (case-sensitive).\n\n**Use cases**\n\n- **Dark create + ramp later** — `{ \"name\": \"checkout_v2\" }` at 0% rollout. Ramp via PATCH after deploy validation.\n- **Targeted rollout** — supply `rules` to gate the caller (e.g. only `plan = pro` users) plus a `rollout_pct` to bucket within that audience.\n- **Gatekeeper stack** — supply `stack` instead of `rules`/`rollout_pct` for `internal ∪ beta ∪ public` fall-through. Stack entries evaluated top-to-bottom; first match wins.\n- **Dashboard metadata** — populate `title`, `description`, `folder`, `group`, `owner_email` so the admin UI is self-documenting from day one.\n- **Disabled on create** — pre-provision with `enabled: false` for a future launch; flip on with `POST /{id}/enable` at go-live.",
        "tags": ["Gates"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGateRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal — dark gate, name only",
                  "description": "Smallest valid body. The gate is created `enabled: true` at `rollout_pct: 0`, with no rules. Ramp it later via PATCH.",
                  "value": {
                    "name": "checkout_v2"
                  }
                },
                "targeted": {
                  "summary": "Targeted rollout — rules + percentage",
                  "description": "Gate Pro users in US/CA/GB, then hash 10% of that audience into the on-bucket (`rollout_pct: 1000` = 10.00%). Adds dashboard metadata so the gate is self-documenting.",
                  "value": {
                    "name": "checkout_v2",
                    "rollout_pct": 1000,
                    "rules": [
                      {
                        "attr": "country",
                        "op": "in",
                        "value": ["US", "CA", "GB"]
                      },
                      {
                        "attr": "plan",
                        "op": "neq",
                        "value": "free"
                      }
                    ],
                    "title": "Checkout v2",
                    "description": "New checkout flow. Pro users in US/CA/GB only.",
                    "folder": "checkout",
                    "group": "growth",
                    "owner_email": "ana@example.com"
                  }
                },
                "gatekeeperStack": {
                  "summary": "Gatekeeper stack — internal ∪ beta ∪ public",
                  "description": "Three-layer fall-through: employees always on, opted-in beta accounts always on, then 25% of everyone else. First match wins; evaluation stops as soon as one entry returns `true`.",
                  "value": {
                    "name": "checkout_v2",
                    "title": "Checkout v2",
                    "owner_email": "ana@example.com",
                    "stack": [
                      {
                        "id": "01HKJ0EMP",
                        "type": "condition",
                        "name": "Employees",
                        "pass": "any",
                        "rules": [
                          {
                            "attr": "email",
                            "op": "regex",
                            "value": "@acme\\.com$"
                          }
                        ]
                      },
                      {
                        "id": "01HKJ0BETA",
                        "type": "condition",
                        "name": "Beta opt-in",
                        "pass": "all",
                        "rules": [
                          {
                            "attr": "beta_opt_in",
                            "op": "eq",
                            "value": true
                          }
                        ]
                      },
                      {
                        "id": "01HKJ0PUB",
                        "type": "rollout",
                        "name": "Public",
                        "rolloutPct": 2500,
                        "bucketBy": "userID",
                        "locked": true
                      }
                    ]
                  }
                },
                "disabledOnCreate": {
                  "summary": "Disabled on create — provision then enable later",
                  "description": "Create with `enabled: false` so the gate evaluates to `false` for every caller until a follow-up `POST /{id}/enable`. Useful when provisioning ahead of a launch.",
                  "value": {
                    "name": "checkout_v2",
                    "enabled": false,
                    "rollout_pct": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a feature gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGateResponse"
                },
                "example": {
                  "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc",
                  "name": "checkout_v2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/gates/{id}": {
      "patch": {
        "operationId": "updateGate",
        "summary": "Update a feature gate",
        "description": "Partial update — only supplied fields change. Array fields (`rules`, `stack`) **replace** wholesale; there is no merge or append.\n\n`name` and the gate id are immutable. The response carries only `{ id }` — re-fetch via `GET /api/admin/gates` for the new row.\n\n**Use cases**\n\n- **Ramp rollout** — `{ \"rollout_pct\": 5000 }` for 50%. Basis points (0–10000); `100` = 1%.\n- **Kill switch** — `{ \"enabled\": false }`. Forces evaluation to `false` for every caller regardless of rules/rollout. Re-enable with `POST /{id}/enable` or `{ \"enabled\": true }`.\n- **Modify a rule's `in` set** — send the full new `rules` array. To add `'GB'` to `['US','CA']`: `{ \"rules\": [{ \"attr\": \"country\", \"op\": \"in\", \"value\": [\"US\",\"CA\",\"GB\"] }] }`. No per-rule patch endpoint.\n- **Add targeting from scratch** — `{ \"rules\": [{ \"attr\": \"email\", \"op\": \"regex\", \"value\": \"@acme\\\\.com$\" }] }`.\n- **Switch to gatekeeper stack** — send a non-null `stack`. To revert to flat eval, send `{ \"stack\": null }`.\n- **Update metadata** — any subset of `title`, `description`, `folder`, `group`, `owner_email`.",
        "tags": ["Gates"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id (`gat_…`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGateRequest"
              },
              "examples": {
                "rampRollout": {
                  "summary": "Ramp rollout — 0 → 50%",
                  "description": "Single-field patch. `5000` basis points = 50%.",
                  "value": {
                    "rollout_pct": 5000
                  }
                },
                "killSwitch": {
                  "summary": "Kill switch — disable the gate",
                  "description": "Forces evaluation to `false` for every caller, regardless of rules or rollout. Same effect as `POST /{id}/disable` but composable with other patches.",
                  "value": {
                    "enabled": false
                  }
                },
                "extendInRule": {
                  "summary": "Add a value to an `in` rule",
                  "description": "Array fields replace wholesale — there is no per-rule patch. To add `'AU'` to a country whitelist that previously held `['US','CA','GB']`, send the full new `rules` array. Same pattern applies to `not_in`.",
                  "value": {
                    "rules": [
                      {
                        "attr": "country",
                        "op": "in",
                        "value": ["US", "CA", "GB", "AU"]
                      },
                      {
                        "attr": "plan",
                        "op": "neq",
                        "value": "free"
                      }
                    ]
                  }
                },
                "replaceStack": {
                  "summary": "Replace gatekeeper stack",
                  "description": "Stack is replace-wholesale. Send the full new ordered list. Pass `\"stack\": null` to revert the gate to flat `rules` + `rollout_pct` evaluation.",
                  "value": {
                    "stack": [
                      {
                        "id": "01HKJ0EMP",
                        "type": "condition",
                        "name": "Employees",
                        "pass": "any",
                        "rules": [
                          {
                            "attr": "email",
                            "op": "regex",
                            "value": "@acme\\.com$"
                          }
                        ]
                      },
                      {
                        "id": "01HKJ0PUB",
                        "type": "rollout",
                        "name": "Public",
                        "rolloutPct": 5000,
                        "locked": true
                      }
                    ]
                  }
                },
                "updateMetadata": {
                  "summary": "Update dashboard metadata",
                  "description": "Any subset of `title`, `description`, `folder`, `group`, `owner_email`. Snake-case in the request; the GET response returns camelCase (`groupName`, `ownerEmail`).",
                  "value": {
                    "title": "Checkout v2 (50%)",
                    "description": "Bumped to 50% after passing canary. Added AU.",
                    "folder": "checkout",
                    "owner_email": "ana@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a feature gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateGateResponse"
                },
                "example": {
                  "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteGate",
        "summary": "Delete a feature gate",
        "description": "Soft-deletes the gate. Returns 409 if the gate is still referenced by a running experiment as a targeting gate — stop the experiment first.\n\n**Use case:** Tear down a gate after a feature has fully shipped and the rollout flag is no longer needed.",
        "tags": ["Gates"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id (`gat_…`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a feature gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteGateResponse"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/gates/{id}/enable": {
      "post": {
        "operationId": "enableGate",
        "summary": "Enable a gate",
        "description": "Sets `enabled: true`. The current `rollout_pct` is preserved.\n\n**Use case:** Re-enable a previously disabled gate without re-issuing a full update.",
        "tags": ["Gates"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Enable a gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnableGateResponse"
                },
                "example": {
                  "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc",
                  "enabled": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/gates/{id}/disable": {
      "post": {
        "operationId": "disableGate",
        "summary": "Disable a gate",
        "description": "Sets `enabled: false` so the gate evaluates to `false` for every caller, regardless of `rollout_pct` or `rules`. Use as a quick kill switch.\n\n**Use case:** Flip a gate off in production without redeploying — the canonical kill-switch flow.",
        "tags": ["Gates"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Disable a gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisableGateResponse"
                },
                "example": {
                  "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc",
                  "enabled": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/experiments": {
      "get": {
        "operationId": "listExperiments",
        "summary": "List experiments",
        "description": "Returns a single page of non-archived experiments ordered by `updated_at desc, id desc`. Use the `cursor` query parameter to paginate.\n\n**Use case:** Snapshot every active experiment in the project — e.g. render an overview dashboard or drive a CI check that no experiment has been running past its `min_runtime_days`.",
        "tags": ["Experiments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List experiments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExperimentsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                      "name": "checkout_button_color",
                      "description": "Test green vs. blue CTA on the checkout page.",
                      "tag": "checkout",
                      "status": "running",
                      "universe": "primary_users",
                      "targetingGate": null,
                      "allocationPct": 5000,
                      "salt": "8d3e9a1f6b7c4a5fa1c2b6d3e7c8e3a1",
                      "params": {
                        "cta_color": "string"
                      },
                      "groups": [
                        {
                          "name": "control",
                          "weight": 5000,
                          "params": {
                            "cta_color": "blue"
                          }
                        },
                        {
                          "name": "treatment",
                          "weight": 5000,
                          "params": {
                            "cta_color": "green"
                          }
                        }
                      ],
                      "significanceThreshold": 0.05,
                      "minRuntimeDays": 7,
                      "minSampleSize": 1000,
                      "sequentialTesting": false,
                      "startedAt": "2026-05-01T12:00:00.000Z",
                      "stoppedAt": null,
                      "updatedAt": "2026-05-09T18:22:11.000Z"
                    }
                  ],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "post": {
        "operationId": "createExperiment",
        "summary": "Create an experiment",
        "description": "Creates a new experiment in `draft` status. `name`, `universe`, and `groups` are required; everything else has sensible defaults.\n\nReturns `409` if `name` already exists, `422` if the named universe doesn't exist, `403` if a plan-gated option is set (`sequential_testing`, custom `significance_threshold`) on a plan that doesn't include it.\n\n**Use cases**\n\n- **Minimal 50/50** — `name` + `universe` + two equal-weight groups.\n- **Targeted rollout** — supply `targeting_gate` to restrict the eligible audience and `allocation_pct` to enrol a slice of it.\n- **Multivariant** — three or more groups with weights summing to 10000.\n- **Sequential testing** — `sequential_testing: true` for Premium plans.",
        "tags": ["Experiments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExperimentRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal — two-group 50/50",
                  "description": "Smallest valid body. Two groups at 50/50, no allocation, no targeting.",
                  "value": {
                    "name": "checkout_button_color",
                    "universe": "primary_users",
                    "groups": [
                      {
                        "name": "control",
                        "weight": 5000
                      },
                      {
                        "name": "treatment",
                        "weight": 5000
                      }
                    ]
                  }
                },
                "targeted": {
                  "summary": "Targeted — gate + allocation + params",
                  "description": "Gate the audience with a `targeting_gate`, allocate 50% of it, and parameterise the variants.",
                  "value": {
                    "name": "checkout_button_color",
                    "description": "Green CTA on checkout for Pro users.",
                    "universe": "primary_users",
                    "targeting_gate": "pro_plan_only",
                    "allocation_pct": 5000,
                    "params": {
                      "cta_color": "string"
                    },
                    "groups": [
                      {
                        "name": "control",
                        "weight": 5000,
                        "params": {
                          "cta_color": "blue"
                        }
                      },
                      {
                        "name": "treatment",
                        "weight": 5000,
                        "params": {
                          "cta_color": "green"
                        }
                      }
                    ]
                  }
                },
                "multivariant": {
                  "summary": "Multivariant — three groups",
                  "description": "Three variants splitting 40/30/30. Requires the sum to equal 10000.",
                  "value": {
                    "name": "headline_test",
                    "universe": "primary_users",
                    "groups": [
                      {
                        "name": "control",
                        "weight": 4000
                      },
                      {
                        "name": "alt_a",
                        "weight": 3000
                      },
                      {
                        "name": "alt_b",
                        "weight": 3000
                      }
                    ]
                  }
                },
                "sequential": {
                  "summary": "Sequential testing — Premium plan",
                  "description": "Enable always-valid sequential tests. Requires Premium plan or higher.",
                  "value": {
                    "name": "checkout_button_color",
                    "universe": "primary_users",
                    "groups": [
                      {
                        "name": "control",
                        "weight": 5000
                      },
                      {
                        "name": "treatment",
                        "weight": 5000
                      }
                    ],
                    "sequential_testing": true,
                    "min_runtime_days": 14
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create an experiment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExperimentResponse"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                  "name": "checkout_button_color"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/experiments/{id}": {
      "get": {
        "operationId": "getExperiment",
        "summary": "Get one experiment",
        "description": "Returns the full experiment row including groups, params, allocation, and lifecycle timestamps.\n\n**Use case:** Fetch one experiment to render the detail page or to inspect its current allocation and group weights.",
        "tags": ["Experiments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id (`exp_…`) or the experiment's `name`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get one experiment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExperimentResponse"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                  "name": "checkout_button_color",
                  "description": "Test green vs. blue CTA on the checkout page.",
                  "tag": "checkout",
                  "status": "running",
                  "universe": "primary_users",
                  "targetingGate": null,
                  "allocationPct": 5000,
                  "salt": "8d3e9a1f6b7c4a5fa1c2b6d3e7c8e3a1",
                  "params": {
                    "cta_color": "string"
                  },
                  "groups": [
                    {
                      "name": "control",
                      "weight": 5000,
                      "params": {
                        "cta_color": "blue"
                      }
                    },
                    {
                      "name": "treatment",
                      "weight": 5000,
                      "params": {
                        "cta_color": "green"
                      }
                    }
                  ],
                  "significanceThreshold": 0.05,
                  "minRuntimeDays": 7,
                  "minSampleSize": 1000,
                  "sequentialTesting": false,
                  "startedAt": "2026-05-01T12:00:00.000Z",
                  "stoppedAt": null,
                  "updatedAt": "2026-05-09T18:22:11.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "patch": {
        "operationId": "updateExperiment",
        "summary": "Update an experiment",
        "description": "Partial update. `allocation_pct`, `groups`, `salt`, `universe`, `params` are **immutable while running** — returns `409` if you try. Stop the experiment first.\n\nEditing `groups` while in `draft` is fine; weights must still sum to 10000.\n\n**Use cases**\n\n- **Update metadata** — `description`, `tag`, `targeting_gate` editable any time.\n- **Ramp before launch** — set `allocation_pct` while still in `draft`.\n- **Tighten significance** — `significance_threshold` (Pro+).\n- **Rewire groups** — replace `groups` wholesale while in `draft`; immutable once running.",
        "tags": ["Experiments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExperimentRequest"
              },
              "examples": {
                "rampAllocation": {
                  "summary": "Ramp allocation — 0 → 50%",
                  "description": "Bumps the share of the targeted audience enrolled. Allowed only when the experiment is in `draft`.",
                  "value": {
                    "allocation_pct": 5000
                  }
                },
                "changeWeights": {
                  "summary": "Change group weights",
                  "description": "Replace the groups array — weights must still sum to 10000.",
                  "value": {
                    "groups": [
                      {
                        "name": "control",
                        "weight": 2500
                      },
                      {
                        "name": "treatment",
                        "weight": 7500
                      }
                    ]
                  }
                },
                "tighterSignificance": {
                  "summary": "Tighter significance threshold",
                  "description": "Drop the p-value cutoff from 0.05 → 0.01. Requires Pro plan or higher.",
                  "value": {
                    "significance_threshold": 0.01
                  }
                },
                "updateMetadata": {
                  "summary": "Update metadata",
                  "description": "Change description/tag/targeting_gate freely on running experiments.",
                  "value": {
                    "description": "Bumped to 50% after passing canary on 25%.",
                    "tag": "checkout"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update an experiment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExperimentResponse"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteExperiment",
        "summary": "Delete an experiment",
        "description": "Archives the experiment (soft-delete via status transition). Returns `409` if the experiment is still `running` — stop it first.\n\n**Use case:** Tear down an experiment after the analysis is signed off.",
        "tags": ["Experiments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete an experiment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteExperimentResponse"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/experiments/{id}/status": {
      "post": {
        "operationId": "setExperimentStatus",
        "summary": "Transition experiment status",
        "description": "Drives the experiment lifecycle. Allowed transitions:\n\n- `draft → running` — starts allocation. Bumps the `startedAt` timestamp.\n- `running → stopped` — halts allocation. Existing exposures stay in the dataset.\n- `stopped → archived` — soft-delete.\n- `draft → archived` — discard an unstarted experiment.\n\nRestarting an `archived` experiment is not allowed; clone instead. Returns `409` on illegal transitions and `429` if the plan's `experiments_running` limit is exceeded on `→ running`.\n\n**Use cases**\n\n- **Start** — `{ \"status\": \"running\" }` after wiring up the SDK and verifying targeting on staging.\n- **Stop** — `{ \"status\": \"stopped\" }` once the experiment hits its `min_runtime_days` and conclusive results land.\n- **Archive** — `{ \"status\": \"archived\" }` to soft-delete after sign-off.",
        "tags": ["Experiments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetExperimentStatusRequest"
              },
              "examples": {
                "start": {
                  "summary": "Start — draft → running",
                  "description": "Begins allocation. The experiment counts against the plan's `experiments_running` limit.",
                  "value": {
                    "status": "running"
                  }
                },
                "stop": {
                  "summary": "Stop — running → stopped",
                  "description": "Halts allocation. Existing exposures remain analysable.",
                  "value": {
                    "status": "stopped"
                  }
                },
                "archive": {
                  "summary": "Archive — stopped → archived",
                  "description": "Soft-deletes the experiment. List endpoints exclude archived rows by default.",
                  "value": {
                    "status": "archived"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transition experiment status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetExperimentStatusResponse"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                  "status": "running"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/experiments/{id}/metrics": {
      "post": {
        "operationId": "setExperimentMetrics",
        "summary": "Attach metrics",
        "description": "Replaces the experiment's metric attachments wholesale. Each entry pairs an existing `metric_id` with a `role` (`goal` / `guardrail` / `secondary`).\n\nReturns `422` if any `metric_id` doesn't exist in the project. Pass `{ metrics: [] }` to detach everything.\n\n**Use cases**\n\n- **Standard setup** — one `goal`, one or two `guardrail`, optional `secondary` metrics for diagnostics.\n- **Detach all** — send `{ \"metrics\": [] }` before archiving.",
        "tags": ["Experiments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetExperimentMetricsRequest"
              },
              "examples": {
                "standard": {
                  "summary": "Standard — one goal + one guardrail",
                  "description": "Attaches one decision metric and one safety metric.",
                  "value": {
                    "metrics": [
                      {
                        "metric_id": "met_checkout_completed",
                        "role": "goal"
                      },
                      {
                        "metric_id": "met_page_errors",
                        "role": "guardrail"
                      }
                    ]
                  }
                },
                "detach": {
                  "summary": "Detach all",
                  "description": "Send an empty array to clear every metric.",
                  "value": {
                    "metrics": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attach metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetExperimentMetricsResponse"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                  "metrics": [
                    {
                      "metric_id": "met_checkout_completed",
                      "role": "goal"
                    },
                    {
                      "metric_id": "met_page_errors",
                      "role": "guardrail"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/experiments/{id}/results": {
      "get": {
        "operationId": "getExperimentResults",
        "summary": "Get analysis results",
        "description": "Returns the latest analysis output for the experiment — one row per metric/group/day, including sample size, mean, % delta vs. control, p-value, and a sample-ratio mismatch flag.\n\n**Use case:** Render the results table on the experiment detail page or drive an automated decision once a `goal` metric reaches significance.",
        "tags": ["Experiments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get analysis results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExperimentResultsResponse"
                },
                "example": {
                  "experiment": {
                    "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                    "name": "checkout_button_color",
                    "status": "running"
                  },
                  "results": [
                    {
                      "metric": "checkout_completed",
                      "group_name": "control",
                      "ds": "2026-05-09",
                      "n": 12421,
                      "mean": 0.1834,
                      "delta_pct": null,
                      "p_value": null,
                      "srm_detected": 0
                    },
                    {
                      "metric": "checkout_completed",
                      "group_name": "treatment",
                      "ds": "2026-05-09",
                      "n": 12519,
                      "mean": 0.1922,
                      "delta_pct": 4.8,
                      "p_value": 0.018,
                      "srm_detected": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/experiments/{id}/timeseries": {
      "get": {
        "operationId": "getExperimentTimeseries",
        "summary": "Get analysis timeseries",
        "description": "Same row shape as `/results`, but returns every daily slice rather than the latest. Filter to a single metric with the `metric` query parameter.\n\n**Use case:** Drive a chart of metric movement over the experiment runtime, or sanity-check the lift is monotonic before deciding.",
        "tags": ["Experiments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "Optional metric name to filter the series.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get analysis timeseries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExperimentTimeseriesResponse"
                },
                "example": {
                  "experiment": {
                    "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                    "name": "checkout_button_color",
                    "status": "running"
                  },
                  "series": [
                    {
                      "metric": "checkout_completed",
                      "group_name": "treatment",
                      "ds": "2026-05-08",
                      "n": 11200,
                      "mean": 0.1903,
                      "delta_pct": 3.9,
                      "p_value": 0.034,
                      "srm_detected": 0
                    },
                    {
                      "metric": "checkout_completed",
                      "group_name": "treatment",
                      "ds": "2026-05-09",
                      "n": 12519,
                      "mean": 0.1922,
                      "delta_pct": 4.8,
                      "p_value": 0.018,
                      "srm_detected": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/experiments/{id}/reanalyze": {
      "post": {
        "operationId": "reanalyzeExperiment",
        "summary": "Re-queue analysis",
        "description": "Requeues the daily analysis pass for this experiment outside the normal cron cadence. Useful after attaching a new metric or correcting an event taxonomy. The job runs asynchronously.\n\n**Use case:** Force-refresh results after wiring up a new metric without waiting for the next nightly cron tick.",
        "tags": ["Experiments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Re-queue analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReanalyzeExperimentResponse"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                  "queued": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/configs": {
      "get": {
        "operationId": "listConfigs",
        "summary": "List dynamic configs",
        "description": "Returns a single page of configs ordered by `updated_at desc, id desc`. Each row includes the latest published `version` per env and any active drafts.\n\n**Use case:** Snapshot every config in the project — e.g. CI check that asserts no env is stuck on a stale default or that every config has a published value on prod.",
        "tags": ["Configs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List dynamic configs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConfigsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "cfg_01j7wae5h6j7k8l9m0n1p2q3r4",
                      "name": "pricing.tiers",
                      "description": "Pricing tier definitions consumed by the checkout flow.",
                      "schema": {
                        "type": "object",
                        "properties": {
                          "tiers": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        },
                        "required": ["tiers"]
                      },
                      "updatedAt": "2026-05-09T18:22:11.000Z",
                      "envs": {
                        "dev": {
                          "version": 5,
                          "publishedAt": "2026-05-09T18:22:11.000Z",
                          "publishedBy": "ana@example.com"
                        },
                        "stage": {
                          "version": 4,
                          "publishedAt": "2026-05-08T11:05:22.000Z",
                          "publishedBy": "ana@example.com"
                        },
                        "prod": {
                          "version": 4,
                          "publishedAt": "2026-05-08T11:05:22.000Z",
                          "publishedBy": "ana@example.com"
                        }
                      },
                      "drafts": {
                        "dev": {
                          "updatedAt": "2026-05-10T09:31:00.000Z",
                          "authorEmail": "bo@example.com",
                          "baseVersion": 5
                        }
                      }
                    }
                  ],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "post": {
        "operationId": "createConfig",
        "summary": "Create a dynamic config",
        "description": "Creates a new config with the given `schema`. The initial `value` (or an empty object) is published as version 1 on **every** env.\n\nReturns `409` if `name` already exists in the project, `400` if `value` doesn't validate against `schema`.\n\n**Use cases**\n\n- **Minimal create** — `name` + `schema`. Initial value defaults to `{}`.\n- **Seeded create** — supply a flat `value` to publish the same object on every env.\n- **Per-env seed** — supply a `{ env: value }` map for different per-env starting values.",
        "tags": ["Configs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConfigRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal — name + schema",
                  "description": "Smallest valid body. Initial value defaults to `{}` on every env.",
                  "value": {
                    "name": "pricing.tiers",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "tiers": {
                          "type": "array"
                        }
                      },
                      "required": ["tiers"]
                    }
                  }
                },
                "seededValue": {
                  "summary": "Seeded — schema + initial value",
                  "description": "Seed the same JSON object on every env at version 1.",
                  "value": {
                    "name": "pricing.tiers",
                    "description": "Pricing tier definitions consumed by checkout.",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "tiers": {
                          "type": "array"
                        }
                      },
                      "required": ["tiers"]
                    },
                    "value": {
                      "tiers": [
                        {
                          "name": "free"
                        },
                        {
                          "name": "pro"
                        }
                      ]
                    }
                  }
                },
                "perEnvSeed": {
                  "summary": "Per-env seed",
                  "description": "Pass a `{ env: value }` map to seed different initial values per env.",
                  "value": {
                    "name": "pricing.tiers",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "tiers": {
                          "type": "array"
                        }
                      },
                      "required": ["tiers"]
                    },
                    "value": {
                      "dev": {
                        "tiers": [
                          {
                            "name": "free"
                          },
                          {
                            "name": "pro"
                          },
                          {
                            "name": "enterprise"
                          }
                        ]
                      },
                      "stage": {
                        "tiers": [
                          {
                            "name": "free"
                          },
                          {
                            "name": "pro"
                          }
                        ]
                      },
                      "prod": {
                        "tiers": [
                          {
                            "name": "free"
                          },
                          {
                            "name": "pro"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a dynamic config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConfigResponse"
                },
                "example": {
                  "id": "cfg_01j7wae5h6j7k8l9m0n1p2q3r4",
                  "name": "pricing.tiers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/configs/{id}": {
      "get": {
        "operationId": "getConfig",
        "summary": "Get one config",
        "description": "Returns config metadata plus the latest published values per env and any active draft values. Use this to fetch the JSON the editor renders.\n\n**Use case:** Fetch one config's current published values and any in-flight drafts.",
        "tags": ["Configs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque config id (`cfg_…`) or the config's `name`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get one config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConfigResponse"
                },
                "example": {
                  "id": "cfg_01j7wae5h6j7k8l9m0n1p2q3r4",
                  "name": "pricing.tiers",
                  "description": "Pricing tier definitions consumed by the checkout flow.",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "tiers": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    },
                    "required": ["tiers"]
                  },
                  "updatedAt": "2026-05-09T18:22:11.000Z",
                  "envs": {
                    "dev": {
                      "version": 5,
                      "publishedAt": "2026-05-09T18:22:11.000Z",
                      "publishedBy": "ana@example.com"
                    },
                    "stage": {
                      "version": 4,
                      "publishedAt": "2026-05-08T11:05:22.000Z",
                      "publishedBy": "ana@example.com"
                    },
                    "prod": {
                      "version": 4,
                      "publishedAt": "2026-05-08T11:05:22.000Z",
                      "publishedBy": "ana@example.com"
                    }
                  },
                  "drafts": {
                    "dev": {
                      "updatedAt": "2026-05-10T09:31:00.000Z",
                      "authorEmail": "bo@example.com",
                      "baseVersion": 5
                    }
                  },
                  "values": {
                    "dev": {
                      "tiers": [
                        {
                          "name": "free"
                        },
                        {
                          "name": "pro"
                        }
                      ]
                    },
                    "stage": {
                      "tiers": [
                        {
                          "name": "free"
                        },
                        {
                          "name": "pro"
                        }
                      ]
                    },
                    "prod": {
                      "tiers": [
                        {
                          "name": "free"
                        },
                        {
                          "name": "pro"
                        }
                      ]
                    }
                  },
                  "draftValues": {
                    "dev": {
                      "tiers": [
                        {
                          "name": "free"
                        },
                        {
                          "name": "pro"
                        },
                        {
                          "name": "enterprise"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "patch": {
        "operationId": "updateConfig",
        "summary": "Update a dynamic config",
        "description": "Partial update. When `value` is supplied it is **republished on every env** (new version per env). When `schema` is supplied it replaces the current schema; every existing value is re-validated.\n\nFor env-scoped edits, use the draft/publish flow (`PUT /{id}/drafts` then `POST /{id}/publish`) instead.\n\n**Use cases**\n\n- **Republish flat value** — `{ \"value\": {…} }` sets the same value on every env.\n- **Schema migration** — `{ \"schema\": {…} }` replaces the schema; existing values are re-validated.\n- **Env-scoped edits** — use `PUT /{id}/drafts` + `POST /{id}/publish` instead of PATCH.",
        "tags": ["Configs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque config id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfigRequest"
              },
              "examples": {
                "flatValue": {
                  "summary": "Flat value — republish on every env",
                  "description": "Sets the same JSON object as a new version on dev/stage/prod.",
                  "value": {
                    "value": {
                      "tiers": [
                        {
                          "name": "free"
                        },
                        {
                          "name": "pro"
                        }
                      ]
                    }
                  }
                },
                "schemaOnly": {
                  "summary": "Schema-only update",
                  "description": "Replaces the schema. Existing values must still validate or the update fails.",
                  "value": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "tiers": {
                          "type": "array"
                        },
                        "trial_days": {
                          "type": "integer"
                        }
                      },
                      "required": ["tiers"]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a dynamic config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConfigResponse"
                },
                "example": {
                  "id": "cfg_01j7wae5h6j7k8l9m0n1p2q3r4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteConfig",
        "summary": "Delete a dynamic config",
        "description": "Soft-deletes the config and rebuilds the project's flags KV blob.\n\n**Use case:** Tear down a config after its consumers have stopped reading it.",
        "tags": ["Configs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque config id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a dynamic config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteConfigResponse"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/configs/{id}/drafts": {
      "put": {
        "operationId": "saveConfigDraft",
        "summary": "Save a draft value",
        "description": "Stages a value for one env without publishing. The draft is validated against the config's current schema and stored alongside the `baseVersion` it was forked from.\n\nSaving over an existing draft overwrites it. Use `POST /{id}/publish` to promote it to a new published version.\n\n**Use case:** Iterate on a config value on dev without affecting prod — preview in staging, then publish.",
        "tags": ["Configs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque config id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveConfigDraftRequest"
              },
              "examples": {
                "stageDev": {
                  "summary": "Stage a dev draft",
                  "description": "Stages a new value on dev without touching stage/prod.",
                  "value": {
                    "env": "dev",
                    "value": {
                      "tiers": [
                        {
                          "name": "free"
                        },
                        {
                          "name": "pro"
                        },
                        {
                          "name": "enterprise"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Save a draft value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveConfigDraftResponse"
                },
                "example": {
                  "id": "cfg_01j7wae5h6j7k8l9m0n1p2q3r4",
                  "env": "dev",
                  "baseVersion": 5,
                  "updatedAt": "2026-05-10T09:31:00.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "discardConfigDraft",
        "summary": "Discard a draft",
        "description": "Drops the in-flight draft on one env. Published values are unaffected.\n\n**Use case:** Abandon an in-progress draft after deciding not to ship it.",
        "tags": ["Configs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque config id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscardConfigDraftRequest"
              },
              "examples": {
                "discardDev": {
                  "summary": "Discard the dev draft",
                  "description": "Drops the staged dev draft without publishing.",
                  "value": {
                    "env": "dev"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discard a draft",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscardConfigDraftResponse"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/configs/{id}/publish": {
      "post": {
        "operationId": "publishConfigDraft",
        "summary": "Publish a draft",
        "description": "Promotes the staged draft on one env to a new published version. The draft must still validate against the current schema.\n\nReturns `404` if there is no draft for the given env.\n\n**Use case:** Ship a staged change once you've validated it on a lower env.",
        "tags": ["Configs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque config id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishConfigDraftRequest"
              },
              "examples": {
                "publishDev": {
                  "summary": "Publish the dev draft",
                  "description": "Promotes the dev draft to a new published version on dev.",
                  "value": {
                    "env": "dev"
                  }
                },
                "publishProd": {
                  "summary": "Publish to prod",
                  "description": "Promotes the prod draft after staging signed off.",
                  "value": {
                    "env": "prod"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Publish a draft",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishConfigDraftResponse"
                },
                "example": {
                  "id": "cfg_01j7wae5h6j7k8l9m0n1p2q3r4",
                  "env": "dev",
                  "version": 6
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/configs/{id}/activity": {
      "get": {
        "operationId": "listConfigActivity",
        "summary": "List config activity",
        "description": "Returns recent audit rows for one config (create, update, draft.save, publish, delete) ordered newest first. Use the `limit` query parameter to cap the result (1–100, default 20).\n\n**Use case:** Render the activity panel in the config editor or drive a slack notification on publish events.",
        "tags": ["Configs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque config id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max rows to return (1–100). Defaults to 20.",
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List config activity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConfigActivityResponse"
                },
                "example": [
                  {
                    "id": "act_01j7waf01a2b3c4d5e6f7g8h9i",
                    "action": "config.publish",
                    "actorEmail": "ana@example.com",
                    "actorType": "user",
                    "payload": {
                      "env": "dev",
                      "version": 6
                    },
                    "createdAt": "2026-05-10T09:31:42.000Z"
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/killswitches": {
      "get": {
        "operationId": "listKillswitches",
        "summary": "List killswitches",
        "description": "Returns a single page of killswitches ordered by `updated_at desc, id desc`. Each row includes the latest published `value`/`switches`/`version` per env.\n\n**Use case:** Snapshot every killswitch in the project — e.g. to render an incident-response runbook listing every kill and its current trip state.",
        "tags": ["Killswitches"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List killswitches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListKillswitchesResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "ksw_01j7w9d8h2k4m6n8p0q2r4s6t8",
                      "name": "payments.checkout",
                      "description": "Master kill for the checkout flow. Trip to fall back to the legacy provider.",
                      "updatedAt": "2026-05-09T18:22:11.000Z",
                      "envs": {
                        "dev": {
                          "value": false,
                          "version": 3,
                          "publishedAt": "2026-05-09T18:22:11.000Z"
                        },
                        "stage": {
                          "value": false,
                          "version": 3,
                          "publishedAt": "2026-05-09T18:22:11.000Z"
                        },
                        "prod": {
                          "value": false,
                          "switches": {
                            "eu_region": true
                          },
                          "version": 5,
                          "publishedAt": "2026-05-09T18:22:11.000Z"
                        }
                      }
                    }
                  ],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "post": {
        "operationId": "createKillswitch",
        "summary": "Create a killswitch",
        "description": "Creates a new killswitch with `value` (default `false`) applied to **every** env at version 1.\n\nReturns `409` if `name` already exists in the project.\n\n**Use cases**\n\n- **Untripped create** — `{ \"name\": \"payments.checkout\" }`. Provision the kill ahead of an incident.\n- **Pre-tripped** — `{ \"value\": true }` to ship the killswitch already engaged.\n- **With switches** — seed `switches` to carve out per-region/per-tenant kills from day one.",
        "tags": ["Killswitches"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKillswitchRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal — name only, untripped",
                  "description": "Smallest valid body. Creates a killswitch with `value: false` on every env.",
                  "value": {
                    "name": "payments.checkout"
                  }
                },
                "preTripped": {
                  "summary": "Pre-tripped on create",
                  "description": "Ship the killswitch already tripped (`value: true`) — useful when provisioning a kill ahead of a deploy you want to ship with the feature off.",
                  "value": {
                    "name": "payments.checkout",
                    "description": "Master kill for the new checkout flow.",
                    "value": true
                  }
                },
                "withSwitches": {
                  "summary": "With per-region switches",
                  "description": "Seed a `switches` map so specific named call sites can be tripped independently of the flat `value`.",
                  "value": {
                    "name": "payments.checkout",
                    "value": false,
                    "switches": {
                      "eu_region": true,
                      "apac_region": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a killswitch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKillswitchResponse"
                },
                "example": {
                  "id": "ksw_01j7w9d8h2k4m6n8p0q2r4s6t8",
                  "name": "payments.checkout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/admin/killswitches/{id}": {
      "get": {
        "operationId": "getKillswitch",
        "summary": "Get one killswitch",
        "description": "Returns the killswitch metadata plus the latest published `value`/`switches`/`version` per env.\n\n**Use case:** Fetch the current state of one killswitch — e.g. to verify a trip propagated before declaring an incident mitigated.",
        "tags": ["Killswitches"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque killswitch id (`ksw_…`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get one killswitch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetKillswitchResponse"
                },
                "example": {
                  "id": "ksw_01j7w9d8h2k4m6n8p0q2r4s6t8",
                  "name": "payments.checkout",
                  "description": "Master kill for the checkout flow. Trip to fall back to the legacy provider.",
                  "updatedAt": "2026-05-09T18:22:11.000Z",
                  "envs": {
                    "dev": {
                      "value": false,
                      "version": 3,
                      "publishedAt": "2026-05-09T18:22:11.000Z"
                    },
                    "stage": {
                      "value": false,
                      "version": 3,
                      "publishedAt": "2026-05-09T18:22:11.000Z"
                    },
                    "prod": {
                      "value": false,
                      "switches": {
                        "eu_region": true
                      },
                      "version": 5,
                      "publishedAt": "2026-05-09T18:22:11.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "patch": {
        "operationId": "updateKillswitch",
        "summary": "Update a killswitch",
        "description": "Partial update applied to **every** env. Setting `value`/`switches` publishes a new version per env. Description-only patches don't bump versions.\n\nTo change a single switch on a single env, use `PUT /{id}/switch` instead.\n\n**Use cases**\n\n- **Trip everywhere** — `{ \"value\": true }`. Kills the feature across dev/stage/prod in one call.\n- **Untrip everywhere** — `{ \"value\": false }`.\n- **Replace switches** — send the full new map; per-key edits use `PUT /{id}/switch`.\n- **Update description** — metadata-only patches don't bump versions.",
        "tags": ["Killswitches"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque killswitch id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKillswitchRequest"
              },
              "examples": {
                "trip": {
                  "summary": "Trip the killswitch on every env",
                  "description": "Sets `value: true` on dev/stage/prod, bumping each env's version by one.",
                  "value": {
                    "value": true
                  }
                },
                "untrip": {
                  "summary": "Untrip on every env",
                  "description": "Sets `value: false` on every env.",
                  "value": {
                    "value": false
                  }
                },
                "replaceSwitches": {
                  "summary": "Replace switches map",
                  "description": "Replaces the per-key overrides wholesale on every env. Pass `{}` to clear.",
                  "value": {
[...]
