{
  "openapi": "3.2.0",
  "info": {
    "title": "Shipeasy Admin API",
    "version": "2.0.0",
    "description": "REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.\n\nMint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.",
    "contact": {
      "name": "Shipeasy",
      "url": "https://shipeasy.ai"
    },
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://shipeasy.ai",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local Next.js dev server"
    }
  ],
  "security": [
    {
      "bearerSdkKey": []
    }
  ],
  "tags": [
    {
      "name": "Release",
      "summary": "Feature delivery — flags, kill switches, dynamic configs, A/B experiments, and the universes they bucket in.",
      "kind": "nav",
      "description": "Release: the feature-delivery surface. One roof over the five resources\nthat decide which code path a user gets — feature gates (flags), kill\nswitches, dynamic configs, A/B/n experiments, and the universes that bucket\nthem — each exposed as its own subcommand group.\n\n**Groups.**\n- `flags` — boolean feature gates: AND-combined targeting rules + a percentage rollout (basis points), evaluated on the SDK hot path.\n- `killswitch` (`ks`) — per-env boolean overrides for incident response; no rules, no rollout, versioned per environment.\n- `configs` — JSON-Schema-validated structured values with a draft → publish workflow, delivered per environment.\n- `experiments` — randomised A/B/n assignment plus the analysis pipeline (t-test, sequential testing, SRM detection); `universes` hold the shared bucketing space and holdouts the experiments draw from.\n\n**Delivery model.** Every write rebuilds the project's KV blob and purges\nthe CDN — SDKs poll at the plan interval and never touch the database on\nthe hot path. The destructive verb is `archive` (soft-delete), never\n`delete`.\n\nRun `shipeasy release <group> --help` for the full contract of each group."
    },
    {
      "name": "Flags",
      "parent": "Release",
      "description": "Feature gates: boolean flags evaluated at runtime against project rules + a percentage rollout.\n\n**Identity.** Each gate is keyed by a stable `name` (a-z, 0-9, `_`/`-`, max 64 chars) which is what SDKs pass to `Shipeasy.checkGate(user, '<name>')`. The `name` is immutable — rename means delete + recreate.\n\n**Evaluation model.** A gate returns `true` when (a) `enabled` is true, and (b) the caller satisfies the gate's rules. There are two evaluation shapes:\n- **Flat** — `rules` (AND-combined predicates) gate the caller, then `rollout_pct` (basis points, 0–10000) hashes them into a bucket. Used for simple `is in X% rollout` gates.\n- **Gatekeeper stack** — an ordered array of `condition` and `rollout` sub-gates, evaluated top-to-bottom; first match wins. Used to express `internal-only ∪ 1% beta ∪ 50% public` in one gate. When `stack` is present it takes precedence over the flat fields.\n\n**Rules.** Each rule is `{ attr, op, value }`. Supported ops: `eq`, `neq`, `in`, `not_in`, `gt`, `gte`, `lt`, `lte`, `contains`, `regex`. Attribute names match the keys on the SDK evaluation context (e.g. `country`, `plan`, `email`).\n\n**Rollout basis points.** `rollout_pct` is in **basis points**, not percent. `0` = 0%, `100` = 1%, `5000` = 50%, `10000` = 100%. This allows sub-1% precision (e.g. `7` = 0.07%).\n\n**Lifecycle.** Create dark (`rollout_pct: 0`) → attach rules → ramp via PATCH → flip kill-switch via `disable`/`enable` → delete once retired. Deletion is blocked while a running experiment references the gate as a targeting gate."
    },
    {
      "name": "Killswitch",
      "parent": "Release",
      "x-cli": {
        "aliases": [
          "ks"
        ]
      },
      "description": "Killswitches: per-env boolean overrides for kill-style operational toggles. Optimised for incident response — no rules, no rollout, just a flat boolean (plus optional per-key overrides) versioned per environment.\n\n**Identity.** Each killswitch is keyed by `name` in `folder.name` form (e.g. `payments.checkout`). Immutable after create.\n\n**Per-env values.** Every killswitch stores one version stream per env (`dev`, `stage`, `prod`). A `PATCH` with `value`/`switches` applies to **every** env in one shot (publishes a new version per env). To touch a single env, use `PUT /{id}/switch` and friends.\n\n**Switches map.** Optional `switches: { key: bool }` overrides the flat `value` for specific named call sites — useful for region/feature-scoped kills.\n\n**Versioning.** Each publish (create, update, set-switch, unset-switch) bumps the per-env `version` monotonically. SDKs deliver the latest published version."
    },
    {
      "name": "Configs",
      "parent": "Release",
      "description": "Dynamic configs: JSON-Schema-validated structured values delivered to SDKs and editable per environment with a draft/publish workflow.\n\n**Identity.** Each config is keyed by `name` in `folder.name` form (e.g. `pricing.tiers`). Immutable after create.\n\n**Schema-first.** Every config carries a JSON Schema (draft 2020-12, top-level `type: 'object'`). Every published value is validated against it.\n\n**Drafts → publish.** Per-env edits go through `PUT /{id}/drafts` (stages a value) then `POST /{id}/publish` (promotes to a new version). The flat `PATCH /{id}` republishes on **every** env in one shot — bypassing drafts.\n\n**Versioning.** Each publish bumps the per-env `version` monotonically. SDKs deliver the latest published version for each env."
    },
    {
      "name": "Experiments",
      "parent": "Release",
      "description": "A/B/n experiments: randomised group assignment plus the analysis pipeline (t-test, sequential testing, SRM detection) on top of a universe.\n\n**Identity.** Stable `name` (a-z, 0-9, `_`/`-`, max 64 chars). Immutable after create.\n\n**Lifecycle.** `draft → running → stopped → archived`. Transition via `POST /{id}/status`. An archived experiment that never started can be restored with `archived → draft`; restarting an archived experiment directly is not allowed.\n\n**Allocation.** `allocation_pct` (basis points, 0–10000) is the share of the targeted audience enrolled; `groups[].weight` (must sum to 10000) splits the enrolled audience. `targeting_gate` narrows the eligible audience before allocation.\n\n**Immutable while running.** `allocation_pct`, `groups`, `salt`, `universe`, `params` cannot be edited on a running experiment — stop it first.\n\n**Metrics.** Attach via `POST /{id}/metrics`. Each metric has a role: `goal` drives the decision, `guardrail` blocks ship on regression, `secondary` is informational.\n\n**Analysis.** Daily cron writes results to D1. Read via `GET /{id}/results` (latest per metric/group/day) or `GET /{id}/timeseries` (full history). `POST /{id}/reanalyze` requeues the analysis pass."
    },
    {
      "name": "Universes",
      "parent": "Experiments",
      "description": "Universes: the shared bucketing space all experiments draw from.\n\n**Identity.** Each universe is keyed by a stable `name` (a-z, 0-9, `_`/`-`, max 64 chars). Experiments reference it via `universe: '<name>'`. The name is immutable.\n\n**Unit of randomisation.** `unit_type` selects the attribute hashed into a 0–9999 bucket — default `user_id` for per-user randomisation, `account_id` to keep a whole account in the same group.\n\n**Holdout.** `holdout_range` is an inclusive `[lo, hi]` bucket range (0–9999) reserved for measurement — callers hashed into the holdout are excluded from every experiment in the universe. Pro plan or higher.\n\n**Deletion.** Blocked while any non-archived experiment references the universe — archive those first."
    },
    {
      "name": "Templates",
      "parent": "Flags",
      "description": "Targeting-rule templates: reusable `{ attr, op, value }` rule definitions\n(country, email-domain, region presets, …). Read-only built-ins ship with\nthe platform; each project can also save its own. To target by\ncountry/plan/region, list templates, copy the matching template's `rules`,\nsubstitute the concrete value(s), and pass them to `release flags create`."
    },
    {
      "name": "Attributes",
      "parent": "Flags",
      "description": "Targeting attributes: the auto-inferred schema of user-context keys the\nplatform has observed in evaluation calls. Read-only — populated by the\nSDK hot path, surfaced here so you can see which keys (and value types)\nare available when writing gate/experiment targeting rules."
    },
    {
      "name": "Metrics",
      "description": "Metrics: the event-backed queries that drive tracking dashboards and\nexperiment success / guardrail measurement.\n\n**Definition.** Each metric pins one source event (`event_name`), one\naggregation, and (for `sum`/`avg`/quantile) a numeric value label. The\nquery is expressed as the DSL string (`query`, e.g. `sum(purchase, amount)`)\nor its typed IR (`query_ir`) — supply exactly one.\n\n**Identity.** Keyed by a stable `name` (single segment or `folder.name`).\nResolve endpoints accept the `id` or the `name`.\n\n**Deletion.** Archive (soft-delete). Blocked while the metric is attached\nto a running experiment — stop those first."
    },
    {
      "name": "Events",
      "parent": "Metrics",
      "description": "Events: the catalog of event names (and their typed properties) that metric queries reference.\n\n**Auto-discovery.** The SDK's `/collect` ingest path records any unknown event name it receives as a `pending` row (`pending: 1`) so you can review it. Metrics defined on a pending event fail until it is approved.\n\n**Approval.** `POST /{id}/approve` promotes a pending event to usable (`pending: 0`), optionally declaring its folder/description/properties in the same call. Registering a brand-new event via `POST` that matches a pending name approves it instead of failing with a conflict.\n\n**Properties.** Each event can declare typed properties (`name`, `type` of `string|number|boolean`, `required`). On update/approve the `properties` array replaces the full set — there is no merge.\n\n**Deletion.** Soft-delete (the user-facing verb is `archive`). Blocked while any metric still references the event — delete those metrics first."
    },
    {
      "name": "Ops",
      "description": "Operational queue: the unified table of bug reports, feature requests, and\nauto-filed error/alert tickets, all over `/api/admin/ops`. One `create`\nendpoint files either user type (`type: bug | feature_request`); list, get,\nupdate, and link-pr are unified across every type. Also exposes the\n`notify` escalation bell and the read-only Slack-channels list used to\nresolve alert-rule notification targets.\n\n**Handles.** A queue item is addressed by its per-project `number` (e.g. `7`)\nor its full id — the API resolves either."
    },
    {
      "name": "Alerts",
      "parent": "Ops",
      "x-cli": {
        "aliases": [
          "ar"
        ]
      },
      "description": "Alert rules: the metric-threshold definitions the analysis cron evaluates each run.\n\n**What fires.** Each rule binds a `metricId`, a `comparator` (`gt`/`gte`/`lt`/`lte`), and a `threshold`. On every cron pass the cron aggregates the metric over the trailing `windowHours` and raises an alert at `severity` when `value comparator threshold` holds.\n\n**Immutable metric.** The bound metric (and its aggregation) is fixed at create time — there is no update path for `metricId`. Tune `threshold`/`comparator`/`windowHours`/`severity`/`name`/`enabled` instead, or delete + recreate to repoint the rule at a different metric.\n\n**Delivery.** `notify` optionally targets a Slack channel and/or email for this rule; `null` falls back to the project's default notification settings. Slack targets require a connected Slack connector."
    },
    {
      "name": "Fired Alerts",
      "parent": "Ops",
      "description": "Fired alerts: the conditions the platform has actually raised — metric-rule\ncrossings, armed kill switches, experiment SRM/peek guards, and guardrail\nbreaches. Raised only by the platform (UI killswitch handlers plus the\nworker analysis consumer and alerts cron), never filed by hand; deduped per\n`(source, dedupeKey)` with auto-resolve when the condition clears. This\nsurface lists them and triages one (status flip + person/agent owner). The\n*rules* that define metric-threshold alerts are the sibling alert-rules\nresource."
    },
    {
      "name": "Agents",
      "parent": "Ops",
      "description": "Connected AI agents — one per authenticated trigger connector (Claude /\nCursor / Copilot / Jules). The read-only roster behind agent assignment\nand the `ops ack` agent types: an AI ack (`ops ack <handle> --agent\n<type>`) requires the type to appear here, so this list is where an\n`AGENT_NOT_CONNECTED` error sends you."
    },
    {
      "name": "Comments",
      "parent": "Ops",
      "description": "Comments on a queue item — the discussion thread that hangs off any bug,\nfeature request, or auto-filed error/alert ticket. Append a comment or read\nthe thread; one level of threaded replies via `parentId`.\n\n**Mentions.** `@teammate` in a body raises an in-app notification for that\nperson; `@shipeasy` asks Jarvis (the AI agent) to read the item and reply.\nComments authored by Jarvis carry `authorType: system`."
    },
    {
      "name": "Projects",
      "description": "Projects: the account-level container every other resource is scoped to.\n\n**Account-level, not bound-project-level.** Both operations resolve from the caller's credential rather than the `.shipeasy`-bound project — `current` reads the project the auth header maps to, and `upsert` find-or-creates under the session's owner. Neither touches the local `.shipeasy` binding; recording the result there is a consumer side-effect layered on top.\n\n**Idempotent upsert.** A project is keyed by `(owner_email, domain)`. Calling `upsert` again with the same domain returns the existing project with `created: false`, so it is safe to run on every install."
    },
    {
      "name": "i18n",
      "description": "String Manager (i18n): the worker-safe REST surface — locale profiles, the\ninsert-only key push, single-key overwrite, chunk publish, and the read-only\nkey/draft listings.\n\nThe fs/AST parts (scan, validate, install-loader, codemod) are NOT part of\nthis API — they stay in the fs-having CLI/MCP."
    },
    {
      "name": "Profiles",
      "parent": "i18n",
      "description": "Locale profiles (e.g. `en:prod`) — create, list, and publish a profile's chunks to the CDN."
    },
    {
      "name": "Keys",
      "parent": "i18n",
      "description": "Translation keys — the insert-only push, single-key overwrite, and key listing."
    },
    {
      "name": "Drafts",
      "parent": "i18n",
      "description": "Machine-translation drafts awaiting review before publish."
    },
    {
      "name": "Errors",
      "description": "Tracked production errors: the deduplicated, fingerprinted error stream the\nSDK + framework error sinks feed. Read-only list/get plus a status update\n(`open`/`resolved`/`ignored`), an auto-file-to-GitHub-issue action, and a\ntime-series rollup. Errors are ingestion-only — there is no create route."
    },
    {
      "name": "Trigger",
      "parent": "Ops",
      "description": "Recurring coding-agent triggers: the scheduled, unattended runs that burn\ndown the ops queue in `--pr` mode (one PR per fixed item; nothing\nauto-merges). Shipeasy can fire four providers directly — Claude routines,\nCursor cloud agents, Copilot cloud agents, and Google Jules (the Gemini\npath) — registered here as trigger connectors (idempotent per provider\nkey). Other platforms (Codex, Windsurf, Cline, OpenClaw, OpenCode,\nContinue) schedule on their own surface — typically a GitHub Actions\n`schedule:` cron running the platform's headless CLI with the shared\ntrigger prompt."
    },
    {
      "name": "Connectors",
      "description": "Outbound integrations: the per-project destinations feedback + trigger\nevents are dispatched to (GitHub, Google Sheets, Slack, and the\nClaude/Cursor/Copilot/Jules autopilot triggers). CRUD plus a manual\n`fire` (trigger-only) and a `test` payload."
    },
    {
      "name": "API Keys",
      "description": "Admin + SDK key management: mint, list, and revoke the `sdk_*` keys that\nauthenticate every other endpoint. The plaintext key is returned exactly\nonce, on create. Revoke is the rotation verb."
    }
  ],
  "paths": {
    "/api/admin/gates": {
      "get": {
        "operationId": "listGates",
        "summary": "List feature gates",
        "description": "Returns a single page of gates ordered by `updated_at desc, id desc`. Use the `cursor` query parameter to paginate.\n\n**Use case:** Snapshot every gate in the project — for example to render an admin overview or to drive a CI check that asserts no gate is left at 100% in staging.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          },
          {
            "$ref": "#/components/parameters/Q"
          }
        ],
        "responses": {
          "200": {
            "description": "List feature gates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGatesResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc",
                      "name": "checkout_v2",
                      "enabled": 1,
                      "rolloutPct": 5000,
                      "rules": [
                        {
                          "attr": "country",
                          "op": "in",
                          "value": [
                            "US",
                            "CA",
                            "GB"
                          ]
                        },
                        {
                          "attr": "plan",
                          "op": "neq",
                          "value": "free"
                        }
                      ],
                      "salt": "9c1f4f1f2c0c4a5fa1c2b6d3e7c8e3a1",
                      "title": "Checkout v2",
                      "description": "New checkout flow. Pro users in US/CA/GB only.",
                      "folder": "checkout",
                      "groupName": "growth",
                      "ownerEmail": "ana@example.com",
                      "stack": null,
                      "creatorEmail": "ana@example.com",
                      "updaterEmail": "bo@example.com",
                      "version": 4,
                      "createdAt": "2026-05-01T10:12:00.000Z",
                      "updatedAt": "2026-05-09T16:01:22.000Z"
                    }
                  ],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN"
        ],
        "x-cli": {
          "name": "list"
        }
      },
      "post": {
        "operationId": "createGate",
        "summary": "Create a feature gate",
        "description": "Creates a new gate. Default `enabled: true` at the supplied `rollout_pct` (`0` = fully dark).\n\nOnly `name` is required. Request fields use snake_case (`owner_email`); the GET response returns camelCase (`ownerEmail`, `groupName`).\n\nReturns `409` if `name` already exists in the project (case-sensitive).\n\n**Use cases**\n\n- **Dark create + ramp later** — `{ \"name\": \"checkout_v2\" }` at 0% rollout. Ramp via PATCH after deploy validation.\n- **Targeted rollout** — supply `rules` to gate the caller (e.g. only `plan = pro` users) plus a `rollout_pct` to bucket within that audience.\n- **Gatekeeper stack** — supply `stack` instead of `rules`/`rollout_pct` for `internal ∪ beta ∪ public` fall-through. Stack entries evaluated top-to-bottom; first match wins.\n- **Dashboard metadata** — populate `title`, `description`, `folder`, `group`, `owner_email` so the admin UI is self-documenting from day one.\n- **Disabled on create** — pre-provision with `enabled: false` for a future launch; flip on with `POST /{id}/enable` at go-live.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGateRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal — dark gate, name only",
                  "description": "Smallest valid body. The gate is created `enabled: true` at `rollout_pct: 0`, with no rules. Ramp it later via PATCH.",
                  "value": {
                    "name": "checkout_v2"
                  }
                },
                "targeted": {
                  "summary": "Targeted rollout — rules + percentage",
                  "description": "Gate Pro users in US/CA/GB, then hash 10% of that audience into the on-bucket (`rollout_pct: 1000` = 10.00%). Adds dashboard metadata so the gate is self-documenting.",
                  "value": {
                    "name": "checkout_v2",
                    "rollout_pct": 1000,
                    "rules": [
                      {
                        "attr": "country",
                        "op": "in",
                        "value": [
                          "US",
                          "CA",
                          "GB"
                        ]
                      },
                      {
                        "attr": "plan",
                        "op": "neq",
                        "value": "free"
                      }
                    ],
                    "title": "Checkout v2",
                    "description": "New checkout flow. Pro users in US/CA/GB only.",
                    "folder": "checkout",
                    "group": "growth",
                    "owner_email": "ana@example.com"
                  }
                },
                "gatekeeperStack": {
                  "summary": "Gatekeeper stack — internal ∪ beta ∪ public",
                  "description": "Three-layer fall-through: employees always on, opted-in beta accounts always on, then 25% of everyone else. First match wins; evaluation stops as soon as one entry returns `true`.",
                  "value": {
                    "name": "checkout_v2",
                    "title": "Checkout v2",
                    "owner_email": "ana@example.com",
                    "stack": [
                      {
                        "id": "01HKJ0EMP",
                        "type": "condition",
                        "name": "Employees",
                        "pass": "any",
                        "rules": [
                          {
                            "attr": "email",
                            "op": "regex",
                            "value": "@acme\\.com$"
                          }
                        ]
                      },
                      {
                        "id": "01HKJ0BETA",
                        "type": "condition",
                        "name": "Beta opt-in",
                        "pass": "all",
                        "rules": [
                          {
                            "attr": "beta_opt_in",
                            "op": "eq",
                            "value": true
                          }
                        ]
                      },
                      {
                        "id": "01HKJ0PUB",
                        "type": "rollout",
                        "name": "Public",
                        "rolloutPct": 2500,
                        "bucketBy": "userID",
                        "locked": true
                      }
                    ]
                  }
                },
                "disabledOnCreate": {
                  "summary": "Disabled on create — provision then enable later",
                  "description": "Create with `enabled: false` so the gate evaluates to `false` for every caller until a follow-up `POST /{id}/enable`. Useful when provisioning ahead of a launch.",
                  "value": {
                    "name": "checkout_v2",
                    "enabled": false,
                    "rollout_pct": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a feature gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGateResponse"
                },
                "example": {
                  "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc",
                  "name": "checkout_v2"
                }
              }
            },
            "links": {
              "UpdateGate": {
                "operationId": "updateGate",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "EnableGate": {
                "operationId": "enableGate",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "DisableGate": {
                "operationId": "disableGate",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "DeleteGate": {
                "operationId": "deleteGate",
                "parameters": {
                  "id": "$response.body#/id"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "ALREADY_EXISTS",
          "VALIDATION",
          "PLAN_LIMIT"
        ],
        "x-cli": {
          "name": "create",
          "positional": [
            "name"
          ]
        }
      }
    },
    "/api/admin/gates/{id}": {
      "get": {
        "operationId": "getGate",
        "summary": "Get one gate",
        "description": "Returns the full gate row — including the gatekeeper `stack`, resolved creator/last-editor emails, and the edit `version` — for one gate, addressed by id or `name`.\n\n**Use case:** Inspect a single gate's current rollout, rules, and stack before editing it, without paging through the whole list.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id (`gat_…`) or the gate's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get one gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateApiRow"
                },
                "example": {
                  "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc",
                  "name": "checkout_v2",
                  "enabled": 1,
                  "type": "targeting",
                  "rolloutPct": 5000,
                  "rules": [
                    {
                      "attr": "country",
                      "op": "in",
                      "value": [
                        "US",
                        "CA",
                        "GB"
                      ]
                    }
                  ],
                  "salt": "9c1f4f1f2c0c4a5fa1c2b6d3e7c8e3a1",
                  "title": "Checkout v2",
                  "description": "New checkout flow. Pro users in US/CA/GB only.",
                  "folder": "checkout",
                  "groupName": "growth",
                  "ownerEmail": "ana@example.com",
                  "stack": null,
                  "creatorEmail": "ana@example.com",
                  "updaterEmail": "bo@example.com",
                  "version": 4,
                  "createdAt": "2026-05-01T10:12:00.000Z",
                  "updatedAt": "2026-05-09T16:01:22.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND"
        ],
        "x-cli": {
          "name": "get",
          "positional": [
            "id"
          ]
        }
      },
      "patch": {
        "operationId": "updateGate",
        "summary": "Update a feature gate",
        "description": "Partial update — only supplied fields change. Array fields (`rules`, `stack`) **replace** wholesale; there is no merge or append.\n\n`name` and the gate id are immutable. The response carries only `{ id }` — re-fetch via `GET /api/admin/gates` for the new row.\n\n**Use cases**\n\n- **Ramp rollout** — `{ \"rollout_pct\": 5000 }` for 50%. Basis points (0–10000); `100` = 1%.\n- **Kill switch** — `{ \"enabled\": false }`. Forces evaluation to `false` for every caller regardless of rules/rollout. Re-enable with `POST /{id}/enable` or `{ \"enabled\": true }`.\n- **Modify a rule's `in` set** — send the full new `rules` array. To add `'GB'` to `['US','CA']`: `{ \"rules\": [{ \"attr\": \"country\", \"op\": \"in\", \"value\": [\"US\",\"CA\",\"GB\"] }] }`. No per-rule patch endpoint.\n- **Add targeting from scratch** — `{ \"rules\": [{ \"attr\": \"email\", \"op\": \"regex\", \"value\": \"@acme\\\\.com$\" }] }`.\n- **Switch to gatekeeper stack** — send a non-null `stack`. To revert to flat eval, send `{ \"stack\": null }`.\n- **Update metadata** — any subset of `title`, `description`, `folder`, `group`, `owner_email`.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id (`gat_…`) or the gate's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGateRequest"
              },
              "examples": {
                "rampRollout": {
                  "summary": "Ramp rollout — 0 → 50%",
                  "description": "Single-field patch. `5000` basis points = 50%.",
                  "value": {
                    "rollout_pct": 5000
                  }
                },
                "killSwitch": {
                  "summary": "Kill switch — disable the gate",
                  "description": "Forces evaluation to `false` for every caller, regardless of rules or rollout. Same effect as `POST /{id}/disable` but composable with other patches.",
                  "value": {
                    "enabled": false
                  }
                },
                "extendInRule": {
                  "summary": "Add a value to an `in` rule",
                  "description": "Array fields replace wholesale — there is no per-rule patch. To add `'AU'` to a country whitelist that previously held `['US','CA','GB']`, send the full new `rules` array. Same pattern applies to `not_in`.",
                  "value": {
                    "rules": [
                      {
                        "attr": "country",
                        "op": "in",
                        "value": [
                          "US",
                          "CA",
                          "GB",
                          "AU"
                        ]
                      },
                      {
                        "attr": "plan",
                        "op": "neq",
                        "value": "free"
                      }
                    ]
                  }
                },
                "replaceStack": {
                  "summary": "Replace gatekeeper stack",
                  "description": "Stack is replace-wholesale. Send the full new ordered list. Pass `\"stack\": null` to revert the gate to flat `rules` + `rollout_pct` evaluation.",
                  "value": {
                    "stack": [
                      {
                        "id": "01HKJ0EMP",
                        "type": "condition",
                        "name": "Employees",
                        "pass": "any",
                        "rules": [
                          {
                            "attr": "email",
                            "op": "regex",
                            "value": "@acme\\.com$"
                          }
                        ]
                      },
                      {
                        "id": "01HKJ0PUB",
                        "type": "rollout",
                        "name": "Public",
                        "rolloutPct": 5000,
                        "locked": true
                      }
                    ]
                  }
                },
                "updateMetadata": {
                  "summary": "Update dashboard metadata",
                  "description": "Any subset of `title`, `description`, `folder`, `group`, `owner_email`. Snake-case in the request; the GET response returns camelCase (`groupName`, `ownerEmail`).",
                  "value": {
                    "title": "Checkout v2 (50%)",
                    "description": "Bumped to 50% after passing canary. Added AU.",
                    "folder": "checkout",
                    "owner_email": "ana@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a feature gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateGateResponse"
                },
                "example": {
                  "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "VALIDATION"
        ],
        "x-cli": {
          "name": "update",
          "positional": [
            "id"
          ]
        }
      },
      "delete": {
        "operationId": "deleteGate",
        "summary": "Delete a feature gate",
        "description": "Soft-deletes the gate. Returns 409 if the gate is still referenced by a running experiment as a targeting gate — stop the experiment first.\n\n**Use case:** Tear down a gate after a feature has fully shipped and the rollout flag is no longer needed.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id (`gat_…`) or the gate's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a feature gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteGateResponse"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "REFERENCED_IN_USE"
        ],
        "x-cli": {
          "name": "archive",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/gates/{id}/enable": {
      "post": {
        "operationId": "enableGate",
        "summary": "Enable a gate",
        "description": "Sets `enabled: true`. The current `rollout_pct` is preserved.\n\n**Use case:** Re-enable a previously disabled gate without re-issuing a full update.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id (`gat_…`) or the gate's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enable a gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnableGateResponse"
                },
                "example": {
                  "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc",
                  "enabled": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "VALIDATION"
        ],
        "x-cli": {
          "name": "enable",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/gates/{id}/disable": {
      "post": {
        "operationId": "disableGate",
        "summary": "Disable a gate",
        "description": "Sets `enabled: false` so the gate evaluates to `false` for every caller, regardless of `rollout_pct` or `rules`. Use as a quick kill switch.\n\n**Use case:** Flip a gate off in production without redeploying — the canonical kill-switch flow.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id (`gat_…`) or the gate's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disable a gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisableGateResponse"
                },
                "example": {
                  "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc",
                  "enabled": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "VALIDATION"
        ],
        "x-cli": {
          "name": "disable",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/gates/{id}/activity": {
      "get": {
        "operationId": "listGateActivity",
        "summary": "List gate activity",
        "description": "Returns recent audit rows for one gate (create, update, enable, disable, delete) ordered newest first. Use the `limit` query parameter to cap the result (1–100, default 20).\n\n**Use case:** Render the activity feed in the gate detail panel or answer \"who ramped this gate, and when?\" during an incident review.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id (`gat_…`) or the gate's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max rows to return (1–100). Defaults to 20.",
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List gate activity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGateActivityResponse"
                },
                "example": [
                  {
                    "id": "act_01j7waf01a2b3c4d5e6f7g8h9i",
                    "action": "gate.update",
                    "actorEmail": "ana@example.com",
                    "actorType": "user",
                    "payload": {
                      "rollout_pct": 5000
                    },
                    "createdAt": "2026-05-09T16:01:22.000Z"
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND"
        ],
        "x-cli": {
          "name": "activity",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/experiments": {
      "get": {
        "operationId": "listExperiments",
        "summary": "List experiments",
        "description": "Returns a single page of non-archived experiments ordered by `updated_at desc, id desc`. Use the `cursor` query parameter to paginate.\n\n**Use case:** Snapshot every active experiment in the project — e.g. render an overview dashboard or drive a CI check that no experiment has been running past its `min_runtime_days`.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by lifecycle status. Pass `archived` to return the archive tab; any other value (or omitting it) returns the non-archived experiments.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Q"
          }
        ],
        "responses": {
          "200": {
            "description": "List experiments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExperimentsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                      "name": "checkout_button_color",
                      "description": "Test green vs. blue CTA on the checkout page.",
                      "tag": "checkout",
                      "status": "running",
                      "universe": "primary_users",
                      "targetingGate": null,
                      "allocationPct": 5000,
                      "salt": "8d3e9a1f6b7c4a5fa1c2b6d3e7c8e3a1",
                      "params": {
                        "cta_color": "string"
                      },
                      "groups": [
                        {
                          "name": "control",
                          "weight": 5000,
                          "params": {
                            "cta_color": "blue"
                          }
                        },
                        {
                          "name": "treatment",
                          "weight": 5000,
                          "params": {
                            "cta_color": "green"
                          }
                        }
                      ],
                      "significanceThreshold": 0.05,
                      "minRuntimeDays": 7,
                      "minSampleSize": 1000,
                      "sequentialTesting": false,
                      "startedAt": "2026-05-01T12:00:00.000Z",
                      "stoppedAt": null,
                      "updatedAt": "2026-05-09T18:22:11.000Z"
                    }
                  ],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN"
        ],
        "x-cli": {
          "name": "list"
        }
      },
      "post": {
        "operationId": "createExperiment",
        "summary": "Create an experiment",
        "description": "Creates a new experiment in `draft` status. `name`, `universe`, and `groups` are required; everything else has sensible defaults.\n\nReturns `409` if `name` already exists, `422` if the named universe doesn't exist, `403` if a plan-gated option is set (`sequential_testing`, custom `significance_threshold`) on a plan that doesn't include it.\n\n**Use cases**\n\n- **Minimal 50/50** — `name` + `universe` + two equal-weight groups.\n- **Targeted rollout** — supply `targeting_gate` to restrict the eligible audience and `allocation_pct` to enrol a slice of it.\n- **Multivariant** — three or more groups with weights summing to 10000.\n- **Sequential testing** — `sequential_testing: true` for Premium plans.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExperimentRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal — two-group 50/50",
                  "description": "Smallest valid body. Two groups at 50/50, no allocation, no targeting.",
                  "value": {
                    "name": "checkout_button_color",
                    "universe": "primary_users",
                    "groups": [
                      {
                        "name": "control",
                        "weight": 5000
                      },
                      {
                        "name": "treatment",
                        "weight": 5000
                      }
                    ]
                  }
                },
                "targeted": {
                  "summary": "Targeted — gate + allocation + params",
                  "description": "Gate the audience with a `targeting_gate`, allocate 50% of it, and parameterise the variants.",
                  "value": {
                    "name": "checkout_button_color",
                    "description": "Green CTA on checkout for Pro users.",
                    "universe": "primary_users",
                    "targeting_gate": "pro_plan_only",
                    "allocation_pct": 5000,
                    "params": {
                      "cta_color": "string"
                    },
                    "groups": [
                      {
                        "name": "control",
                        "weight": 5000,
                        "params": {
                          "cta_color": "blue"
                        }
                      },
                      {
                        "name": "treatment",
                        "weight": 5000,
                        "params": {
                          "cta_color": "green"
                        }
                      }
                    ]
                  }
                },
                "multivariant": {
                  "summary": "Multivariant — three groups",
                  "description": "Three variants splitting 40/30/30. Requires the sum to equal 10000.",
                  "value": {
                    "name": "headline_test",
                    "universe": "primary_users",
                    "groups": [
                      {
                        "name": "control",
                        "weight": 4000
                      },
                      {
                        "name": "alt_a",
                        "weight": 3000
                      },
                      {
                        "name": "alt_b",
                        "weight": 3000
                      }
                    ]
                  }
                },
                "sequential": {
                  "summary": "Sequential testing — Premium plan",
                  "description": "Enable always-valid sequential tests. Requires Premium plan or higher.",
                  "value": {
                    "name": "checkout_button_color",
                    "universe": "primary_users",
                    "groups": [
                      {
                        "name": "control",
                        "weight": 5000
                      },
                      {
                        "name": "treatment",
                        "weight": 5000
                      }
                    ],
                    "sequential_testing": true,
                    "min_runtime_days": 14
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create an experiment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExperimentResponse"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                  "name": "checkout_button_color"
                }
              }
            },
            "links": {
              "GetExperiment": {
                "operationId": "getExperiment",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "UpdateExperiment": {
                "operationId": "updateExperiment",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "SetExperimentMetrics": {
                "operationId": "setExperimentMetrics",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "SetExperimentStatus": {
                "operationId": "setExperimentStatus",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "ReanalyzeExperiment": {
                "operationId": "reanalyzeExperiment",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "DeleteExperiment": {
                "operationId": "deleteExperiment",
                "parameters": {
                  "id": "$response.body#/id"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "PLAN_REQUIRED",
          "ALREADY_EXISTS",
          "GROUPS_WEIGHT_SUM",
          "REFERENCED_NOT_FOUND",
          "VALIDATION"
        ],
        "x-cli": {
          "name": "create",
          "positional": [
            "name"
          ]
        }
      }
    },
    "/api/admin/experiments/{id}": {
      "get": {
        "operationId": "getExperiment",
        "summary": "Get one experiment",
        "description": "Returns the full experiment row including groups, params, allocation, and lifecycle timestamps.\n\n**Use case:** Fetch one experiment to render the detail page or to inspect its current allocation and group weights.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id (`exp_…`) or the experiment's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get one experiment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentApiRow"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                  "name": "checkout_button_color",
                  "description": "Test green vs. blue CTA on the checkout page.",
                  "tag": "checkout",
                  "status": "running",
                  "universe": "primary_users",
                  "targetingGate": null,
                  "allocationPct": 5000,
                  "salt": "8d3e9a1f6b7c4a5fa1c2b6d3e7c8e3a1",
                  "params": {
                    "cta_color": "string"
                  },
                  "groups": [
                    {
                      "name": "control",
                      "weight": 5000,
                      "params": {
                        "cta_color": "blue"
                      }
                    },
                    {
                      "name": "treatment",
                      "weight": 5000,
                      "params": {
                        "cta_color": "green"
                      }
                    }
                  ],
                  "significanceThreshold": 0.05,
                  "minRuntimeDays": 7,
                  "minSampleSize": 1000,
                  "sequentialTesting": false,
                  "startedAt": "2026-05-01T12:00:00.000Z",
                  "stoppedAt": null,
                  "updatedAt": "2026-05-09T18:22:11.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND"
        ],
        "x-cli": {
          "name": "get",
          "positional": [
            "id"
          ]
        }
      },
      "patch": {
        "operationId": "updateExperiment",
        "summary": "Update an experiment",
        "description": "Partial update. `allocation_pct`, `groups`, `salt`, `universe`, `params` are **immutable while running** — returns `409` if you try. Stop the experiment first.\n\nEditing `groups` while in `draft` is fine; weights must still sum to 10000.\n\n**Use cases**\n\n- **Update metadata** — `description`, `tag`, `targeting_gate` editable any time.\n- **Ramp before launch** — set `allocation_pct` while still in `draft`.\n- **Tighten significance** — `significance_threshold` (Pro+).\n- **Rewire groups** — replace `groups` wholesale while in `draft`; immutable once running.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id (`exp_…`) or the experiment's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExperimentRequest"
              },
              "examples": {
                "rampAllocation": {
                  "summary": "Ramp allocation — 0 → 50%",
                  "description": "Bumps the share of the targeted audience enrolled. Allowed only when the experiment is in `draft`.",
                  "value": {
                    "allocation_pct": 5000
                  }
                },
                "changeWeights": {
                  "summary": "Change group weights",
                  "description": "Replace the groups array — weights must still sum to 10000.",
                  "value": {
                    "groups": [
                      {
                        "name": "control",
                        "weight": 2500
                      },
                      {
                        "name": "treatment",
                        "weight": 7500
                      }
                    ]
                  }
                },
                "tighterSignificance": {
                  "summary": "Tighter significance threshold",
                  "description": "Drop the p-value cutoff from 0.05 → 0.01. Requires Pro plan or higher.",
                  "value": {
                    "significance_threshold": 0.01
                  }
                },
                "updateMetadata": {
                  "summary": "Update metadata",
                  "description": "Change description/tag/targeting_gate freely on running experiments.",
                  "value": {
                    "description": "Bumped to 50% after passing canary on 25%.",
                    "tag": "checkout"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update an experiment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExperimentResponse"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "PLAN_REQUIRED",
          "NOT_FOUND",
          "IMMUTABLE_FIELD",
          "INVALID_TRANSITION",
          "GROUPS_WEIGHT_SUM",
          "REFERENCED_NOT_FOUND",
          "VALIDATION",
          "EXPERIMENT_IMMUTABLE_FIELD"
        ],
        "x-cli": {
          "name": "update",
          "positional": [
            "id"
          ]
        }
      },
      "delete": {
        "operationId": "deleteExperiment",
        "summary": "Delete an experiment",
        "description": "Archives the experiment (soft-delete via status transition). Returns `409` if the experiment is still `running` — stop it first.\n\n**Use case:** Tear down an experiment after the analysis is signed off.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id (`exp_…`) or the experiment's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete an experiment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteExperimentResponse"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "INVALID_TRANSITION"
        ],
        "x-cli": {
          "name": "archive",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/experiments/{id}/status": {
      "post": {
        "operationId": "setExperimentStatus",
        "summary": "Transition experiment status",
        "description": "Drives the experiment lifecycle. Allowed transitions:\n\n- `draft → running` — starts allocation. Bumps the `startedAt` timestamp.\n- `running → stopped` — halts allocation. Existing exposures stay in the dataset.\n- `stopped → archived` — soft-delete.\n- `draft → archived` — discard an unstarted experiment.\n- `archived → draft` — restore a soft-deleted experiment so it can be re-completed and started. Allowed only if it never started; one that already ran must be cloned instead.\n\nRestarting an `archived` experiment directly is not allowed — restore it to `draft` first. Returns `409` on illegal transitions and `429` if the plan's `experiments_running` limit is exceeded on `→ running`.\n\n**Use cases**\n\n- **Start** — `{ \"status\": \"running\" }` after wiring up the SDK and verifying targeting on staging.\n- **Stop** — `{ \"status\": \"stopped\" }` once the experiment hits its `min_runtime_days` and conclusive results land.\n- **Archive** — `{ \"status\": \"archived\" }` to soft-delete after sign-off.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id (`exp_…`) or the experiment's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetExperimentStatusRequest"
              },
              "examples": {
                "start": {
                  "summary": "Start — draft → running",
                  "description": "Begins allocation. The experiment counts against the plan's `experiments_running` limit.",
                  "value": {
                    "status": "running"
                  }
                },
                "stop": {
                  "summary": "Stop — running → stopped",
                  "description": "Halts allocation. Existing exposures remain analysable.",
                  "value": {
                    "status": "stopped"
                  }
                },
                "archive": {
                  "summary": "Archive — stopped → archived",
                  "description": "Soft-deletes the experiment. List endpoints exclude archived rows by default.",
                  "value": {
                    "status": "archived"
                  }
                },
                "restore": {
                  "summary": "Restore — archived → draft",
                  "description": "Un-deletes a soft-deleted experiment so it can be re-completed and started. Allowed only if it never ran.",
                  "value": {
                    "status": "draft"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transition experiment status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetExperimentStatusResponse"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                  "status": "running"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "INVALID_TRANSITION",
          "VALIDATION",
          "PLAN_LIMIT",
          "EXPERIMENT_NO_GOAL_METRIC",
          "EXPERIMENT_ARCHIVED_RESTART",
          "EXPERIMENT_NOT_RUNNING",
          "EXPERIMENT_RUNNING_ARCHIVE",
          "EXPERIMENT_RESTORE_INVALID"
        ],
        "x-cli": {
          "positional": [
            "id"
          ],
          "commands": [
            {
              "name": "start",
              "summary": "Start an experiment (draft → running)",
              "preset": {
                "status": "running"
              }
            },
            {
              "name": "stop",
              "summary": "Stop a running experiment",
              "preset": {
                "status": "stopped"
              }
            },
            {
              "name": "restore",
              "summary": "Restore an archived experiment (→ draft)",
              "preset": {
                "status": "draft"
              }
            }
          ]
        }
      }
    },
    "/api/admin/experiments/{id}/metrics": {
      "post": {
        "operationId": "setExperimentMetrics",
        "summary": "Attach metrics",
        "description": "Replaces the experiment's metric attachments wholesale. Each entry pairs an existing `metric_id` with a `role` (`goal` / `guardrail` / `secondary`).\n\nReturns `422` if any `metric_id` doesn't exist in the project. Pass `{ metrics: [] }` to detach everything.\n\n**Use cases**\n\n- **Standard setup** — one `goal`, one or two `guardrail`, optional `secondary` metrics for diagnostics.\n- **Detach all** — send `{ \"metrics\": [] }` before archiving.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id (`exp_…`) or the experiment's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetExperimentMetricsRequest"
              },
              "examples": {
                "standard": {
                  "summary": "Standard — one goal + one guardrail",
                  "description": "Attaches one decision metric and one safety metric.",
                  "value": {
                    "metrics": [
                      {
                        "metric_id": "met_checkout_completed",
                        "role": "goal"
                      },
                      {
                        "metric_id": "met_page_errors",
                        "role": "guardrail"
                      }
                    ]
                  }
                },
                "detach": {
                  "summary": "Detach all",
                  "description": "Send an empty array to clear every metric.",
                  "value": {
                    "metrics": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attach metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetExperimentMetricsResponse"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                  "metrics": [
                    {
                      "metric_id": "met_checkout_completed",
                      "role": "goal"
                    },
                    {
                      "metric_id": "met_page_errors",
                      "role": "guardrail"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "EVENT_PENDING",
          "REFERENCED_NOT_FOUND",
          "VALIDATION",
          "METRIC_UNKNOWN_ID"
        ],
        "x-cli": {
          "name": "set-metrics",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/experiments/{id}/results": {
      "get": {
        "operationId": "getExperimentResults",
        "summary": "Get analysis results",
        "description": "Returns the latest analysis output for the experiment — one row per metric/group/day, including sample size, mean, % delta vs. control, p-value, and a sample-ratio mismatch flag.\n\n**Use case:** Render the results table on the experiment detail page or drive an automated decision once a `goal` metric reaches significance.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id (`exp_…`) or the experiment's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get analysis results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExperimentResultsResponse"
                },
                "example": {
                  "experiment": {
                    "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                    "name": "checkout_button_color",
                    "status": "running"
                  },
                  "results": [
                    {
                      "metric": "checkout_completed",
                      "groupName": "control",
                      "ds": "2026-05-09",
                      "n": 12421,
                      "mean": 0.1834,
                      "variance": 0.1498,
                      "delta": null,
                      "deltaPct": null,
                      "ci95Low": null,
                      "ci95High": null,
                      "ci99Low": null,
                      "ci99High": null,
                      "ciLow": null,
                      "ciHigh": null,
                      "pValue": null,
                      "expectedN": 15000,
                      "realizedMde": null,
                      "srmPValue": 0.82,
                      "srmDetected": 0,
                      "msprtSignificant": null,
                      "msprtLambda": null,
                      "isFinal": 0,
                      "peekWarning": 0
                    },
                    {
                      "metric": "checkout_completed",
                      "groupName": "treatment",
                      "ds": "2026-05-09",
                      "n": 12519,
                      "mean": 0.1922,
                      "variance": 0.1553,
                      "delta": 0.0088,
                      "deltaPct": 4.8,
                      "ci95Low": 0.0015,
                      "ci95High": 0.0161,
                      "ci99Low": -0.0008,
                      "ci99High": 0.0184,
                      "ciLow": 0.0015,
                      "ciHigh": 0.0161,
                      "pValue": 0.018,
                      "expectedN": 15000,
                      "realizedMde": 0.0079,
                      "srmPValue": 0.82,
                      "srmDetected": 0,
                      "msprtSignificant": null,
                      "msprtLambda": null,
                      "isFinal": 0,
                      "peekWarning": 0
                    }
                  ],
                  "verdict": "ship"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND"
        ],
        "x-cli": {
          "name": "results",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/experiments/{id}/timeseries": {
      "get": {
        "operationId": "getExperimentTimeseries",
        "summary": "Get analysis timeseries",
        "description": "Same row shape as `/results`, but returns every daily slice rather than the latest. Filter to a single metric with the `metric` query parameter.\n\n**Use case:** Drive a chart of metric movement over the experiment runtime, or sanity-check the lift is monotonic before deciding.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id (`exp_…`) or the experiment's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "Optional metric name to filter the series.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get analysis timeseries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExperimentTimeseriesResponse"
                },
                "example": {
                  "experiment": {
                    "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                    "name": "checkout_button_color",
                    "status": "running"
                  },
                  "series": [
                    {
                      "metric": "checkout_completed",
                      "groupName": "treatment",
                      "ds": "2026-05-08",
                      "n": 11200,
                      "mean": 0.1903,
                      "variance": 0.1541,
                      "delta": 0.0071,
                      "deltaPct": 3.9,
                      "ci95Low": -0.0004,
                      "ci95High": 0.0146,
                      "ci99Low": -0.0028,
                      "ci99High": 0.017,
                      "ciLow": -0.0004,
                      "ciHigh": 0.0146,
                      "pValue": 0.034,
                      "expectedN": 15000,
                      "realizedMde": 0.0083,
                      "srmPValue": 0.79,
                      "srmDetected": 0,
                      "msprtSignificant": null,
                      "msprtLambda": null,
                      "isFinal": 0,
                      "peekWarning": 0
                    },
                    {
                      "metric": "checkout_completed",
                      "groupName": "treatment",
                      "ds": "2026-05-09",
                      "n": 12519,
                      "mean": 0.1922,
                      "variance": 0.1553,
                      "delta": 0.0088,
                      "deltaPct": 4.8,
                      "ci95Low": 0.0015,
                      "ci95High": 0.0161,
                      "ci99Low": -0.0008,
                      "ci99High": 0.0184,
                      "ciLow": 0.0015,
                      "ciHigh": 0.0161,
                      "pValue": 0.018,
                      "expectedN": 15000,
                      "realizedMde": 0.0079,
                      "srmPValue": 0.82,
                      "srmDetected": 0,
                      "msprtSignificant": null,
                      "msprtLambda": null,
                      "isFinal": 0,
                      "peekWarning": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND"
        ],
        "x-cli": {
          "name": "timeseries",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/experiments/{id}/reanalyze": {
      "post": {
        "operationId": "reanalyzeExperiment",
        "summary": "Re-queue analysis",
        "description": "Requeues the daily analysis pass for this experiment outside the normal cron cadence. Useful after attaching a new metric or correcting an event taxonomy. The job runs asynchronously.\n\n**Use case:** Force-refresh results after wiring up a new metric without waiting for the next nightly cron tick.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id (`exp_…`) or the experiment's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Re-queue analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReanalyzeExperimentResponse"
                },
                "example": {
                  "id": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                  "queued": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "VALIDATION"
        ],
        "x-cli": {
          "name": "reanalyze",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/experiments/{id}/readouts": {
      "post": {
        "operationId": "createExperimentReadout",
        "summary": "Mint a readout snapshot",
        "description": "Freezes the current results view into an immutable, dated readout snapshot — verdict, headline, per-metric numbers, the caveat list with its acknowledgment state, enrollment, and a hash of the assignment-relevant config. Ship/stop flows mint one automatically; \"Share readout\" mints one on demand. Snapshots are never updated after insert.\n\nPass `requireAllAcknowledged: true` to enforce ship gating server-side — returns `422` while any open caveat is not listed in `acknowledgedCaveatIds`.\n\n**Use case:** Capture \"what the data said when we decided\" before shipping or stopping, so the decision stays auditable even after results move.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id (`exp_…`) or the experiment's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExperimentReadoutRequest"
              },
              "examples": {
                "manual": {
                  "summary": "Manual — \"Share readout\"",
                  "description": "Snapshot the current results view on demand.",
                  "value": {
                    "kind": "manual"
                  }
                },
                "shipGated": {
                  "summary": "Ship — with caveat gating",
                  "description": "Mint a ship readout, acknowledging the open caveats; fails with `422` if any open caveat is missing from the list.",
                  "value": {
                    "kind": "ship",
                    "acknowledgedCaveatIds": [
                      "srm",
                      "min_runtime"
                    ],
                    "requireAllAcknowledged": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mint a readout snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExperimentReadoutResponse"
                },
                "example": {
                  "id": "5f0c1f2d-8e90-4c6e-9b1a-3a7c1f2d8e90"
                }
              }
            },
            "links": {
              "GetExperimentReadout": {
                "operationId": "getExperimentReadout",
                "parameters": {
                  "readoutId": "$response.body#/id"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "VALIDATION"
        ],
        "x-cli": {
          "name": "readout-create",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/experiments/{id}/readouts/{readoutId}": {
      "get": {
        "operationId": "getExperimentReadout",
        "summary": "Get a readout snapshot",
        "description": "Returns one immutable readout snapshot — the frozen results view (verdict, headline, per-metric numbers, caveats, enrollment) captured when it was minted, plus the `configHash` that tells you whether it is still comparable to the live view.\n\n**Use case:** Render a shared, dated readout exactly as it looked at decision time.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque experiment id (`exp_…`) or the experiment's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          },
          {
            "name": "readoutId",
            "in": "path",
            "required": true,
            "description": "Readout snapshot id, as returned by `createExperimentReadout`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a readout snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentReadoutApiRow"
                },
                "example": {
                  "id": "5f0c1f2d-8e90-4c6e-9b1a-3a7c1f2d8e90",
                  "experimentId": "exp_01j7wb12c3d4e5f6g7h8j9k0l1",
                  "experimentName": "checkout_button_color",
                  "kind": "ship",
                  "createdBy": "pm@example.com",
                  "createdAt": "2026-05-09T18:22:11.000Z",
                  "verdict": "ship",
                  "title": "Treatment wins on checkout conversion",
                  "why": "Goal metric significant with guardrails flat after 8 days.",
                  "configHash": "9c1f4f1f2c0c4a5fa1c2b6d3e7c8e3a19c1f4f1f2c0c4a5fa1c2b6d3e7c8e3a1",
                  "metricsJson": [
                    {
                      "name": "checkout_completed",
                      "role": "goal",
                      "delta": 0.0088,
                      "deltaPct": 4.8,
                      "ci": [
                        0.0015,
                        0.0161
                      ],
                      "p": 0.018,
                      "sig": true
                    }
                  ],
                  "caveatsJson": [
                    {
                      "id": "min_runtime",
                      "severity": "warn",
                      "text": "Below the 14-day minimum runtime.",
                      "acknowledged": true
                    }
                  ],
                  "usersJson": {
                    "groups": [
                      {
                        "name": "control",
                        "n": 12421
                      },
                      {
                        "name": "treatment",
                        "n": 12519
                      }
                    ],
                    "days": 8
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND"
        ],
        "x-cli": {
          "name": "readout-get",
          "positional": [
            "id",
            "readoutId"
          ]
        }
      }
    },
    "/api/admin/configs": {
      "get": {
        "operationId": "listConfigs",
        "summary": "List dynamic configs",
        "description": "Returns a single page of configs ordered by `updated_at desc, id desc`. Each row includes the latest published `version` per env and any active drafts.\n\n**Use case:** Snapshot every config in the project — e.g. CI check that asserts no env is stuck on a stale default or that every config has a published value on prod.",
        "tags": [
          "Configs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          },
          {
            "$ref": "#/components/parameters/Q"
          }
        ],
        "responses": {
          "200": {
            "description": "List dynamic configs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConfigsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "cfg_01j7wae5h6j7k8l9m0n1p2q3r4",
                      "name": "pricing.tiers",
                      "description": "Pricing tier definitions consumed by the checkout flow.",
                      "folder": "pricing",
                      "creatorEmail": "ana@example.com",
                      "createdAt": "2026-05-01T10:12:00.000Z",
                      "schema": {
                        "type": "object",
                        "properties": {
                          "tiers": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        },
                        "required": [
                          "tiers"
                        ]
                      },
                      "updatedAt": "2026-05-09T18:22:11.000Z",
                      "envs": {
                        "dev": {
                          "version": 5,
                          "publishedAt": "2026-05-09T18:22:11.000Z",
                          "publishedBy": "ana@example.com"
                        },
                        "stage": {
                          "version": 4,
                          "publishedAt": "2026-05-08T11:05:22.000Z",
                          "publishedBy": "ana@example.com"
                        },
                        "prod": {
                          "version": 4,
                          "publishedAt": "2026-05-08T11:05:22.000Z",
                          "publishedBy": "ana@example.com"
                        }
                      },
                      "drafts": {
                        "dev": {
                          "updatedAt": "2026-05-10T09:31:00.000Z",
                          "authorEmail": "bo@example.com",
                          "baseVersion": 5
                        }
[...]
