# The SERVER-SDK surface of the admin API — a second root over the same
# `paths/` and `components/schemas/` tree that `openapi.yaml` bundles.
#
# WHY A SECOND ROOT. The CLI and MCP consume the FULL spec (127 operations);
# the published server SDKs ship a deliberately tiny opt-in `AdminClient`, and
# vendoring the whole contract into eight repos bloated each generated client
# into the megabytes for operations nobody called. This file IS that smaller
# contract, declared rather than derived: `paths` below lists exactly the
# operations the SDKs expose, and `redocly bundle` pulls in only the schemas
# those operations transitively reference.
#
# WHY IT'S EXACT. Every path listed here is a dedicated, single-purpose route,
# so a path item never drags in a method the SDK shouldn't have. That is the
# reason the SDK-facing endpoints were built as their own paths instead of
# extra query/discriminator modes on the generic CRUD routes.
#
# ADDING AN OPERATION is one `$ref` here — then `pnpm gen` in this package and
# `pnpm sdk:spec:regen` in the monorepo, and commit the regenerated client
# inside each SDK submodule. A monorepo pre-commit hook blocks any commit that
# changes this contract while a vendored copy is stale.
#
# DELIBERATELY ABSENT, so nobody re-adds them by accident: everything else.
# Listing, generic CRUD, key minting, projects, connectors, i18n, errors,
# alerts, metrics, events, experiments, universes, templates, attributes, and
# the AI-agent working seam (ack / link-pr / investigations) all stay reachable
# through the CLI and MCP, which read `openapi.yaml`.
openapi: 3.2.0
info:
  title: Shipeasy Admin API (server-SDK surface)
  version: 2.0.0
  description: |-
    The slice of the Shipeasy admin API that the published server SDKs expose as their optional `AdminClient`. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.

    Three capabilities, nothing else:

    - **File a public ticket** — a bug or a feature request onto the project's ops queue.
    - **Toggle a kill switch** — flip the switch itself, or one of its named sub-switches, on one environment.
    - **Manage a flag's whitelist** — read, replace, add to, or remove from the allowlist that admits specific identities ahead of every targeting rule.

    Everything else in the admin API is reachable through the Shipeasy CLI and MCP server, which speak the complete contract (`openapi.yaml`).
  contact:
    name: Shipeasy
    url: https://shipeasy.ai
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://shipeasy.ai
    description: Production
  - url: http://localhost:3000
    description: Local Next.js dev server
security:
  - bearerSdkKey: []
tags:
  - name: Flags
    description: A feature gate's whitelist — the always-first allowlist that admits named identities before any targeting rule or percentage rollout runs.
  - name: Killswitch
    description: Per-env boolean overrides for incident response. `toggle` reads the current value and publishes its opposite in one call, on the flat value or on one named sub-switch.
  - name: Ops
    description: The public ticket queue — filing a bug or a feature request, which also fires the project's GitHub/Slack connectors.
paths:
  /ops/bug:
    $ref: ./paths/ops.yaml#/~1ops~1bug
  /ops/feature-request:
    $ref: ./paths/ops.yaml#/~1ops~1feature-request
  /api/admin/killswitches/{id}/toggle:
    $ref: ./paths/killswitches.yaml#/~1api~1admin~1killswitches~1{id}~1toggle
  /api/admin/gates/{id}/whitelist:
    $ref: ./paths/gates.yaml#/~1api~1admin~1gates~1{id}~1whitelist
components:
  securitySchemes:
    bearerSdkKey:
      type: http
      scheme: bearer
      bearerFormat: sdk_admin_*
      description: 'Pass an admin SDK key as `Authorization: Bearer sdk_admin_…`. Mint via `POST /api/admin/keys` with `type: "admin"`.'
    clientSdkKey:
      type: apiKey
      in: header
      name: X-SDK-Key
      description: |-
        Pass a **client** SDK key as `X-SDK-Key: sdk_client_…`. Used only by the public ticket intake (`POST /ops/bug`, `POST /ops/feature-request`), which is served by the edge worker rather than the admin API.

        Client keys are designed to be embedded in shipped code — a CLI, an installer, a browser bundle — so presenting one here is safe by construction: it can do nothing but file a rate-limited ticket into its own project, in a state a human must approve. It carries no read access and cannot reach any other operation in this contract.

        The key must additionally carry the `tickets:public_create` scope, and its project must have public ticket creation enabled.
